.top_bar {
  height: 59px;
  display: flex;
  background: red;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.center-labels {
  display: flex;
  margin-left: 56px;
  margin-right: 56px;
  text-align: center;
  margin-top: 10px;
  width: 7em;
  display: flex;
  color: white;
  font-weight: bold;
  font-size: 18px;
  font-size: 25px;
}

.middle-bar {
  width: 100%;
  display: grid;
  text-align: -webkit-center;
}

.texts-active {
  border-radius: 8px;
  width: 218px;
  height: 39px;
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: lighter;
  border: 1px solid #6f839e;
  padding-left: 20px;
  font-weight: lighter;
  background: #f3f4f9;
  font: #6f839e;
}

.texts {
  border-radius: 8px;
  width: 218px;
  font-size: 18px;
  height: 39px;
  margin-bottom: 8px;
  font-weight: lighter;
  border: 1px solid #6f839e;
  padding-left: 20px;
  font-weight: lighter;
  background: #f3f4f9;
  font: #6f839e;
}

.page {
  background: #ffffffff;
  height: -webkit-fill-available;
  text-align: center;
}

.name {
  color: #6f839e;
  font-weight: bold;
  font-size: 18px;
  margin-top: 56px;
  margin-bottom: 8px;
  font-size: 18px;
  width: 285px;
  height: 34px;
}

.add {
  height: 42px;
  width: 146px;
  font-weight: lighter;
  background: white;
  font-size: 18px;
  color: #6f839e;
  border: 1px lightgrey solid;
  border-radius: 22px;
}

.add2 {
  border-radius: 22px;
  height: 42px;
  width: 146px;
  font-weight: lighter;
  background: #6f839e;
  font-size: 18px;
  color: white;
}

.fa-angle-left {
  color: black;
  font-size: 48px;
  margin-left: 22px;
}

.the-List {
  background: #cccfd3;
}

.group-error {
  height: 29px;
  padding-left: 5px;
  margin-bottom: 5px;
  font-weight: lighter;
  margin-left: auto;
  margin-right: auto;
  width: 171px;
  font-size: 14px;
  color: red;
}

.addgroup-main {
  text-align: center;
}
.back-container{
  width: 0px;
}
.add2:focus { outline: none; }
.texts-active{outline: none;}
.texts{outline: none;}


