.top_bar {
	height: 59px;
	display: flex;
	background: red;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}

.middle-bar {
	width: 100%;
	display: grid;
	text-align: -webkit-center;
	margin-top: 10%;
}

.texts:focus {
	outline: none;
}

.texts {
	border-radius: 8px;
	font-size: 18px;
	width: 312px;
	height: 56px;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #979797;
	padding-left: 19px;
	font-weight: bold;
	background: #fdfdfd;
	color: #000000;
}
.errorMsg {
	display: flex;
	justify-content: flex-start;
	color: red;
	margin:auto;
	font-size: 12.16px;
	font: lighter;
}

.page {
	background: #F6F6F6;
	text-align: center;
    width: 100%;
}

.name {
	color: #6f839e;
	font-weight: bold;
	font-size: 18px;
	margin-top: 56px;
	margin-bottom: 8px;
	font-size: 18px;
	width: 285px;
	height: 34px;
}


.the-List {
	background: #cccfd3;
}

.addgroup-main {
	text-align: center;
}
.back-container {
	width: 0px;
	margin-top: 5px;
}


.add-container {
	display: flex;
	justify-content: center;
	height: -webkit-fill-available;;
}
.add:focus {
	outline: none;
}
.add-active {
	bottom: 92px;
	width: 312px;
	height: 42px;
	border: 1px solid #BE0000;
	border-radius: 22px;
	background: #BE0000;
	color: white;
	font-size: 16px;
	margin-top: 200px;
}
.add {
	bottom: 92px;
	width: 312px;
	height: 42px;
	border: 1px solid #D9D9D9;
	border-radius: 22px;
	background: transparent;
	color: #D9D9D9;
	font-size: 16px;
	margin-top: 200px;
}

.group-label {
	margin-top: 22px;
	width: 7em;
	color: white;
	font-weight: bold;
	font-size: 20px;
	margin-left: 55px;
	white-space: nowrap;
	overflow: hidden !important;
	padding-right: 21px;
}
.add-group-main{
	width: 100%;
	overflow-y: overlay;
	background: #f6f6f6;
}
