.document-page-name {
  align-content: center;
  text-align: center;
  height: 49px;
  width: 123px;
}

.docuements-heading {
  text-align: center;
  align-content: center;
  background-image: linear-gradient(to right, #ef3024, #dc0600);
  height: 57px;
  width: 100%;
  padding-left: 100px;
  padding-bottom: 30px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  position: fixed;
}

.documents-text {
  color: #fdfdfd;
  padding-top: 15px;
  padding-right: 90px;
  font-size: 20px;
  font-family: helvetica;
  font-weight: bolder;
}

.document-page-name2 {
  font-family: Helvetica;
  font-weight: bolder;
  font-size: 25px;
  color: #fdfdfd;
}

.documents-btn-default {
  font-weight: lighter;
  font-size: 16px;
  color: #c0c1c2;
  letter-spacing: 1px;
  line-height: 15px;
  border: 1px solid #c0c1c2;
  border-radius: 40px;
  background: transparent;
  transition: all 0.3s ease 0s;
}

.documents-btn-default:focus {
  font-weight: lighter;
  outline: none;
  font-size: 16px;
  color: #c0c1c2;
  letter-spacing: 1px;
  line-height: 15px;
  border: 1px solid #c0c1c2;
  border-radius: 40px;
  background: transparent;
  transition: all 0.3s ease 0s;
}

.documents-btn-default:hover {
  font-weight: lighter;
  font-size: 16px;
  color: #c0c1c2;
  letter-spacing: 1px;
  line-height: 15px;
  border: 1px solid #c0c1c2;
  border-radius: 40px;
  background: transparent;
  transition: all 0.3s ease 0s;
}

.documents-background {
  background-color: white;
  width: 100%;
  height: 85%;
  position: fixed;
  overflow: auto;
}

.documents-center {
  height: 600px;
  overflow: auto;
  width: 75%;
  margin-right: auto;
  margin-left: auto;
}

.Documents-btn-active {
  font-weight: lighter;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: 1px;
  line-height: 15px;
  border: 1px solid #dc0600;
  border-radius: 40px;
  background: #dc0600;
  transition: all 0.3s ease 0s;
}

.document-image-icon {
  margin-left: 20px;
}

.documents-collapse {
  padding-top: 8px;
  font-family: Helvetica;
  font-weight: bolder;
  font-size: 18px;
  color: #666666;
  text-align: center;
  align-content: center;
}

.document-send-button {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 100px;
}

.document-btn-bottom-1 {
  width: 80%;
  height: 42px;
  max-width: 312px;
}

.document-btn-bottom-2 {
  width: 80%;
  height: 42px;
  max-width: 312px;
}

.document-btn-bottom-3 {
  width: 80%;
  height: 42px;
  max-width: 312px;
}

.button-upload-document-3 {
  font-weight: lighter;
  text-align: center;
  align-content: center;
  padding-top: 25px;
}

.button-upload-document-2 {
  font-weight: lighter;
  font-size: 20px;
  text-align: center;
  align-content: center;
  padding-top: 6px;
}

.label-select-document {
  padding-top: 100px;
  font-family: Helvetica;
  font-weight: bolder;
  font-size: 18px;
  color: #666666;
  text-align: center;
  align-content: center;
}

.label-select-document2 {
  font-family: Helvetica;
  font-weight: bolder;
  font-size: 18px;
  color: #666666;
  text-align: center;
  align-content: center;
}

.document-requirements {
  padding-top: 100%;
  text-align: center;
  align-content: center;
}

.document-requirements3 {
  max-width: 312px;
  padding: 15px;
  font-weight: lighter;
  text-align: left;
  font-size: 16px;
  color: #be0000;
  width: 85%;
  border: 1px solid #be0000;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  margin-top: 10px;
}

.documents-div-line {
  margin-top: 20px;
  background-color: #be0000;
  display: inline-block;
  width: 50%;
  max-width: 100px;
}

.document-requirements4 {
  text-align: center;
  padding-top: 22px;
  font-weight: lighter;
  font-size: 16px;
  color: #666666;
  padding-left: 42px;
  padding-right: 42px;
}

.document-testing-align {
  text-align: center;
}
