.documents-container{
    background-color: #fdfdfd;
}

.page-name{
    align-content: center;
    text-align: center;
    height: 49px;
    width: 123px;
}

.docuements-heading{
    text-align: center;
    align-content: center;
    background-image: linear-gradient(to right, #ef3024  , #Dc0600);
    height: 57px;
    padding-left: 100px;
    margin-bottom: 15px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: -2px 0px 14px -1px #674D4D;
}

.documents-text{

    color: #fdfdfd;
    padding-top: 15px;
    padding-right: 90px;
    font-size: 20px;
    font-family: helvetica;
    font-weight: bolder;

}
.page-name2{
    font-family: Helvetica;
    font-weight: bolder;
    font-size: 25px;
    color: #fdfdfd;
}
.btn-default {
    font-weight: lighter;
    font-size: 16px;
    color: #6F839E;
    letter-spacing: 1px;
    line-height: 15px;
    border: 1px solid #6F839E;
    border-radius: 40px;
    background: #fdfdfd;
    transition: all 0.3s ease 0s;
  }  

  .btn-active {
    font-weight: lighter;
    font-size: 16px;
    color: #fdfdfd;
    letter-spacing: 1px;
    line-height: 15px;
    border: 2px solid #6F839E;
    border-radius: 40px;
    background: #6F839E;
    transition: all 0.3s ease 0s;
  }
  .send-button {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 100px;
  }
  .btn-bottom-1{
    width: 180px;
    height: 42px;
  }

.btn-bottom-2{
    width: 250px;
    height: 42px;
    
}

.btn-bottom-3{    
    width: 300px;
    height: 42px;
}  

.documents-body{
    background-color: #fdfdfd;
}
.button-upload-document-3{
    font-weight: lighter;
    text-align: center;
    align-content:center;
    padding-top: 8px;
}

.button-upload-document-2{
    font-weight: lighter;
    font-size: 20px;
    text-align: center;
    align-content:center;
    padding-top: 22px;
}

.label-select-document{
    padding-top: 62px;
    font-family: Helvetica;
    font-weight: bolder;
    font-size: 18px;
    color: #6F839E;
    text-align: center;
    align-content:center;
}

.document-requirements{ 
    padding-top: 100%;
    text-align: center;
    align-content:center;
}


.document-requirements3{ 
    padding-top: 8px;
    font-weight: lighter;
    text-align: center;
    font-size: 16px;
    color: #6F839E;
    padding-left: 42px;
    padding-right: 42px;    
}

.document-requirements4{ 
    text-align: center;
    padding-top: 22px;
    font-weight: lighter;
    font-size: 16px;
    color: #6F839E;
    padding-left: 42px;
    padding-right: 42px;    
}

.testing-align{
    text-align: center;
}


