.forgot-password-textbox {
  padding-top: 49px;
  padding-left: 24px;
}

.reset-password-textbox {
  padding-top: 49px;
}

.reset-password-center {
  align-content: center;
  margin: auto;
}
.reset-password-eye {
  padding-top: 90px;
}

.forgot-password-text {
  padding-top: 51px;
  padding-left: 48px;
  padding-right: 48px;
  font-size: 16px;
  color: #666666;
}

.forgot-password-paragragh {
  font-weight: bold;
}

.forgot-password-button {
  position: fixed;
  bottom: 10px;
}

.forgot-password-error {
  color: #dc0600;
  padding-left: 81px;
  padding-top: 10px;
  font-size: 16px;
}
