.forgot-password-email{
    border-radius: 9px;
    border: 1px #6F839E solid;
    width: 267px;
    height: 39px;
    text-align: center;
    font-size: 18px;
    background-color: #F3F4F9;
}

.forgot-password-label{
    color: #6F839E;
    width: 60%;
    margin-top: 13px;
    bottom: 0;
    text-align: center;
    left: 0;
    font-size: 21px;
    font-family: 'helvetica';
    font-weight: 700;
}
