.forgot-password-textbox {
  padding-top: 49px;
}

.reset-password-textbox {
  padding-top: 49px;
}

.reset-password-eye {
  padding-top: 120px;
}

.forgot-password-text {
  padding-top: 51px;
  font-size: 16px;
  color: #666666;
}

.forgot-password-paragragh {
  font-weight: bold;
}

.back-btn-forgot-password{
    margin-top: -40px;
    height: 34px;
    position: absolute;
    left: 10px;
}

.forgot-password-button {
  position: fixed;
  bottom: 57px;
}

.forgot-password-error {
  color: #dc0600;
  padding-top: 10px;
  text-align: center;
  font-size: 16px;
}

.centre-div{
  text-align: center;
}