.forgot-password-email{
    border-radius: 9px;
    border: 1px #6F839E solid;
    width: 267px;
    height: 39px;
    text-align: center;
    font-size: 18px;
    background-color: #F3F4F9;
}

.forgot-password-label{
    color: #6F839E;
    width: 60%;
    margin-top: 70px;
    bottom: 0;
    text-align: center;
    left: 0;
    font-size: 21px;
    font-family: 'helvetica';
    font-weight: 700;
}

.password-reset-label-2{
    color: #6F839E;
    text-align: center;
    font-size:16px;
}

.password-reset-label{
    color: #dc0600;
    text-align: center;
    font-size:16px;
    margin-bottom: 10px;
    margin-top: 10px
}

.container-reset{
    margin-top: 70px;
}

.container-of-elements{
    
    text-align: center;
}

.button-email{
    width: 100px;
    height: 42px;
    color: #6F839E;
    border-radius: 25px;
    background-color: #fdfdfd;
    font-size: 16px;
    border: 1px #6F839E solid;
}
