.forgot-password-textbox {
  padding-top: 49px;
}

.reset-password-textbox {
  padding-top: 49px;
}

.reset-password-eye {
  padding-top: 90px;
}

.forgot-password-text {
  padding-top: 51px;
  font-size: 16px;
  color: #666666;
}

.forgot-password-paragragh {
  font-weight: bold;
}

.forgot-password-button {
  position: fixed;
  bottom: 10px;
}

.forgot-password-error {
  color: #dc0600;
  padding-top: 10px;
  text-align: center;
  font-size: 16px;
}
