.forgot-password-textbox {
  padding-top: 49px;
}

.reset-password-textbox {
  padding-top: 49px;
}

.reset-password-eye {
  padding-top: 120px;
}

.reset-button-container {
  position: relative;
  width: 100%;
  text-align: center;
  padding-top: 20px;
}

.forgot-password-text {
  padding-top: 30px;
  font-size: 16px;
  color: #666666;
}

.header-label-forgot-password {
  font-size: 25px;
  color: white;
  font-weight: 400;
  font-family: helvetica;
}

.forgot-password-paragragh {
  font-weight: bold;
}

.back-btn-forgot-password {
  margin-top: -40px;
  height: 34px;
  position: absolute;
  left: 10px;
}

.forgot-password-button {
  margin-top: 45px;
}

.forgot-password-error {
  color: #dc0600;
  padding-top: 10px;
  text-align: center;
  font-size: 16px;
}

.centre-div {
  text-align: center;
}
