.boxs {
  float: right;
  margin-top: 20px;
  height: 17px;
  width: 17px;
  margin-top: 37px;
  margin-bottom: 37px;
  margin-right: 32px;
}

.Check {
  background: #504f51;
  margin-top: 3px;
}

.TheNavBar {
  background: #cccfd3;
  color: white;
  height: 56px;
  display: flex;
  background: #DC0600;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.center_label {
  margin-top: 10px;
  color: black;
  margin-left: auto;
  margin-right: auto;
  width: 7em;
  display: flex;

  color: white;
  font-weight: bold;
  font-size: 18px;
  font-size: 20px;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}

.fa-angle-left {
  margin-top: 2px;
  margin-left: 10px;
  color: black;
  font-size: 48px;
  color: white;
}

.NavBar {
  height: 0px;
}

.theText {
  margin-left: 5px;
  margin-top: 5px;
  width: 218px;
  height: 39px;
  font-weight: lighter;
  font-size: 18px;
  padding-left: 5px;
  font-size: 18px;
  border-radius: 10px;
}

.select {
  margin-top: 5px;
  margin-right: 5px;
  float: right;
  height: 42px;
  border-radius: 30px;
  width: 102px;
  color: #282829;
  font-weight: lighter;
  font-size: 16px;
  background: white;
  border: 1px lightgrey solid;
}

.select2 {
  margin-top: 5px;
  margin-right: 5px;
  float: right;
  height: 42px;
  border-radius: 30px;
  width: 102px;
  font-weight: lighter;
  color: white;
  font-size: 16px;
  background: #504f51;
  border: 1px red solid;
}

.BNavBar {
  height: 50px;
  background: white;
}

.deleteUser {
  margin-right: 30px;
  margin-left: 30px;
  width: 218px;
  height: 42px;
  background: transparent;
  border: 2px solid white;
  border-radius: 20px;
  font-weight: lighter;
  font-size: 16px;
  color: white;
}

.bottomlabel {
  position: absolute;
  right: 0;
  bottom: 0;
  background: #e11e2b;
  width: 100%;
  height: 35px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  margin: 0px;
  padding-bottom: 50px;
  font-size: 16px;
  font-weight: lighter;
  padding-top: 10px;
  position: fixed;
}

.userName {
  font-size: 16px;
  font-weight: bold;
  font-size: 16px;
  color: #6f839e;
}

.emails {
  font-size: 14px;
  font-weight: lighter;
  font-size: 16px;
  color: #6f839e;
}

.blabe {
  margin-left: 39px;
}

.theboxes {
  float: right;
}

.the-container {
  width: 100%;
  font-weight: lighter;
  font-size: 18px;
  width: 100%;
  color: white;
}

.group-delete {
  float: right;
  padding-left: 20px;
}

.nn {
  font-weight: lighter;
  font-size: 18px;
  color: white;
  width: 60%;
  margin-left: 32px;
}

.bottompanel {
  position: absolute;
  right: 0;
  bottom: 0;
  background: #fdfdfd;
  width: 100%;
  height: 42px;
  margin: 0px;
  padding-bottom: 50px;
  font-size: 16px;
  font-weight: lighter;
  padding-top: 10px;
  display: flex;
  float: bottom;
}

.confirmText {
  color: black;
}

.confirm {
  width: 96px;
  height: 42px;
  border-radius: 39px;
  font-weight: lighter;
  font-size: 16px;
}

.undo {
  font-weight: lighter;
  font-size: 16px;
  position: absolute;
  right: 0;
  bottom: 0;

  border-radius: 24.5px;
  width: 96px;
  height: 42px;
  background: white;
  margin-left: 40px;
  border: 1px solid;
}

.btplane {
  display: flex;
}

.ubutns {
  float: right;
}

.cbutns {
  text-align: center;
}

.bpanel {
  position: fixed;
  right: 0;
  bottom: 0;
  background: #282829;
  width: 100%;
  margin: 0px;
  font-size: 16px;
  font-weight: lighter;
  padding-top: 10px;
  display: flex;
  float: bottom;
  height: 56px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.updatess {
  width: 150px;
  height: 39px;
  border-radius: 40px;
  width: 96px;
  height: 42px;
  background: white;
}

.botname {
  float: right;
  position: fixed;
  right: 0;
  bottom: 0;
  padding-bottom: 12px;
  padding-right: 9px;
  font-weight: lighter;
  font-size: 16px;
}

.thes {
  font-weight: lighter;
  padding-left: 15px;
}

.usersname {
  font-weight: bold;
  padding-left: 15px;
}

.thetextname {
  font-size: 16px;
  padding-right: 30px;
  font-weight: lighter;
  display: inline-block;
  width: 110px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.theText {
 
}

.group-confirm {
  border-radius: 24.5px;
  width: 96px;
  height: 42px;
  background: white;
  margin-left: 40px;
  border: 1px solid;
}

.updates {
  width: 136px;
  height: 42px;
  border-radius: 40px;
  font-weight: lighter;
  font-size: 16px;
}

.the-main {
  margin-left: 26px;
  margin-right: 26px;
}
.group-name {
  margin-left: 6px;
  font-weight: lighter;
  font-size: 18px;
  float: left;
}
.group-delete {
  margin-right: 32px;
  float: right;
}
.group-view{
  float: right;
}

.view-group{
  border-bottom: solid 2px #bbbcbd;
    height: 55px;
    font-size: 18px;
    font-weight: lighter;
    color: #6F839E;
}

