.boxs{
  float: right;
  margin-right: 15px;
  margin-top: 20px;
}

.check{
  background:#101727;
}

.TheNavBar{
  background: #CCCFD3;
  color: white;
  height: 50px;
  display: flex;
}

.center_label{
  text-align: center;
  margin-top: 10px;
  text-align: center;
}

.TheMain{
  background: #101727;
}

.fa-angle-left{
  margin-top: 2px;
  margin-left: 10px;
}

.BNavBar{
  height: 0px;
}

.theText{
  margin-top: 7px;
  margin-left: 5px;

}
.select{
  margin-top: 7px;
  margin-right: 5px;
}
