.Boxs {
  float: right;
  margin-right: 15px;
  margin-top: 20px;
}

.Check {
  background: #101727;
}

.TheNavBar {
  background: #cccfd3;
  color: white;
  height: 50px;
  display: flex;
}

.Center_Label {
  text-align: center;
  margin-top: 10px;
  color: black;
  margin-left: auto;
  margin-right: auto;
  width: 8em;
  display: flex;
}
.TheMain {
  background: black;
}

.fa-angle-left {
  margin-top: 2px;
  margin-left: 10px;
  color: black;
  font-size: 48px;
}

.NavBar {
  height: 0px;
}

.TheText {
  margin-top: 7px;
  margin-left: 5px;
  border-radius: 25px;
}
.Select {
  margin-top: 7px;
  margin-right: 5px;
  float: right;
  height: 30px;
  border-radius: 25px;
  width: auto;
  
}
