.boxs {
  float: right;
  margin-right: 15px;
  margin-top: 20px;
}

.Check {
  background: #101727;
}

.TheNavBar{
  background: #CCCFD3;
  color: white;
  height: 50px;
  display: flex;
}

.center_label{
  text-align: center;
  margin-top: 10px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 8em;
  display: flex;
}
.TheMain {
  background: #101727;
}

.fa-angle-left{
  margin-top: 2px;
  margin-left: 10px;
  color: black;
  font-size: 48px;
}

.NavBar {
  height: 0px;
}

.theText{
  margin-top: 7px;
  margin-left: 5px;
  border-radius: 25px;
  /* width: 208px; */
  width: 50%;
  height: 39px;
  padding-left: 5px;
}
.select{
  margin-top: 7px;
  margin-right: 5px;
  float: right;
  height: 39px;
  border-radius: 25px;
  width: 30%;  
.BNavBar{
  height: 15px;
}