.newsfeed-back-button{
    height: 30px;
    position: absolute;
    top: 19px;
    left: 12px;
}

.label-for-newsfeed{
    font-size: 20px;
    color: #fdfdfd;
    font-weight: bold;
    padding-top: 14px;
    padding-left: 38px;
}

.newsfeed-skietbaan-logo{
    width: 103px;
    height: 41px;
    position: relative;
    left: 10px;
    float: left;
}

.padding-top-80{
    padding-top: 80px;
}

@media screen and (min-width:576px){
    .padding-top-80{
        padding-top: 130px !important;
    }
}

.label-container-welcome-text{
    width: 150px;
    float: left;
    margin-left: 23px;
}

.newsfeed-welcome-text{
    font-size: 16px;
    font-weight: 300;
    color: #212527;
    line-height: 20px;
}

.newsfeed-down-arrow{
    position: relative;
    float: right;
    right: 21px;
    top: 17px;
    height: 15px;
}

.newsfeed-new-member-container{
    height: 116px;
    margin-top: 46px;
    background-color: #F4F4F4;
}

.newsfeed-username-container{
    width: 41px;
    float: left;
    position: relative;
    left: 15px;
    top: 72px;
}

.newsfeed-username{
    font-size: 12px;
    color: #555555;
    font-weight: 300;
}

.newsfeed-member-icon{
    height: 16px;
    position: absolute;
    left: 2px;
    top: 2px;
}

.circle-member-icon{
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background: #ffffff;
    position: absolute;
    bottom: 53px;
    left: 63px;
}