@media all and (min-width: 576px) {
  .notifications-modal {
    font-family: helvetica;
    font-weight: thin;
    bottom: 0px;
    position: fixed;
    width: 66%;
    margin-left: 17%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    background: #ffffff;
    height: 56px;
    margin-bottom: 56px;
  }

  .announcement-text {
    margin-top: 140px;
  }

  .outer-header-div {
    float: left;
    padding-left: 40px;
    padding-top: 13px;
  }

  .page-heading {
    background-image: linear-gradient(to right, #dc0600, #ef3024);
    color: #ffffff;
    height: 67px;
    margin-top: 56px;
    font-size: 25px;
    font-family: helvetica;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0px 10px 16px -6px rgba(0, 0, 0, 0.33);
    position: fixed;
    width: 66%;
    margin-left: 17%;
  }

  .notifications-body-class {
    background-color: #ffffff;
    color: white;
    border-style: none;
    border: none;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    left: 25px;
    margin-bottom: 56px;
  }

  .notifications-images {
    background-image: url("./Notification-Img/delete3.png");
    padding-bottom: 6px;
    padding-right: 11px;
    text-align: justify;
    background-repeat: no-repeat;
    background-size: 24px;
    height: 24px;
    padding-right: 27px;
  }

  .notifications-images:hover {
    cursor: pointer;
  }

  .notifications-selected {
    background: url("./Notification-Img/submit_plus_add_score.png");
    padding-bottom: 6px;
    padding-right: 11px;
    text-align: justify;
    background-repeat: no-repeat;
    background-size: 24px;
    height: 24px;
    padding-right: 27px;
  }

  .notifications-selected {
    cursor: pointer;
  }

  .notifications-icon {
    margin-left: 305px;
    margin-top: 5px;
  }

  .black-delete-icon {
    height: 26px;
    width: 20px;
    float: right;
    margin-right: 5%;
    margin-top: 18px;
  }

  .black-delete-icon:hover {
    cursor: pointer;
  }

  .delete-icon {
    height: 26px;
    width: 20px;
    float: right;
    margin-right: 5%;
    margin-top: 18px;
  }

  .delete-icon:hover {
    cursor: pointer;
  }

  .trash-spacing {
    margin-left: 250px;
    margin-top: 5px;
  }

  .td-delete {
    padding-left: 28px;
    color: white;
    font-size: 13px;
    border-bottom-style: none;
    font-family: helvetica;
    width: 30px;
  }

  .td-notification {
    color: #6f839e;
    font-size: 14px;
    font-family: helvetica;
    text-align: left;
    vertical-align: middle;
    padding-left: 28px;
    width: 84%;
  }

  .tr-class {
    border-bottom: solid 1px #bbbcbb;
    height: 64px;
    margin: 1em auto;
  }

  .t-body {
    border-bottom: none;
    font-family: helvetica;
    background-color: #ffffff;
    color: #6f839e;
    border-style: none;
    border: none;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 640px;
    text-align: justify;
  }

  .post-items {
    text-align: center;
    background-color: #ffffff;
    color: #6f839e;
    border-style: none;
    border: none;
    overflow-y: scroll;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 640px;
    width: 100%;
    padding-top: 50px;
    margin-top: 23px;
  }

  .notifications-text {
    color: #000000;
    text-decoration-line: none;
    text-align: justify;
    text-justify: newspaper;
    font-weight: lighter;
    font-family: helvetica;
    font-size: 14px;
    padding-top: 9px;
    width: 100%;
  }

  .notifications-selected-text {
    color: red;
    text-decoration-line: none;
    text-align: justify;
    text-justify: newspaper;
    font-weight: lighter;
    font-family: helvetica;
    font-size: 14px;
    padding-top: 9px;
    width: 100%;
  }

  .notifications-a {
    padding-left: 47px;
    text-align: justify;
    text-justify: newspaper;
    text-decoration: none;
  }

  #notifications a:hover {
    color: red;
  }
  a:active {
    color: red;
    text-decoration: none;
  }

  .notifications-modal-confirm {
    font-weight: lighter;
    font-size: 16px;
    background-color: #dc0600;
    border-radius: 25px;
    width: 90%;
    height: 42px;
    border-color: #dc0600;
    border-width: 1.5px;
    border: none;
  }

  .notifications-modal-cancel {
    font-weight: lighter;
    font-size: 16px;
    background-color: transparent;
    border-style: thin;
    border-radius: 25px;
    width: 96px;
    height: 42px;
    border-color: #000000;
    border-width: 1.5px;
    color: #000000;
    border: 1px #000000 solid;
  }

  .empty-screen {
    font-weight: lighter;
    font-family: helvetica;
    font-size: 14px;
    padding-top: 9px;
    align-content: center;
  }

  .time-div {
    -webkit-margin-end: 10px;
    margin-inline-end: 10px;
    color: #d9d9d9;
  }

  .notifications-a-class {
    text-align: left;
  }

  .hidden {
    display: none;
  }

  .format-content {
    margin-left: 17%;
    margin-right: 17%;
    position: static;
    padding-top: 100px;
  }
}

.notifications-unread:hover {
  cursor: pointer;
}

.notifications-unread {
  color: #000000;
  text-decoration-line: none;
  text-align: justify;
  text-justify: newspaper;
  font-weight: bold;
  font-family: helvetica;
  font-size: 14px;
  padding-top: 9px;
  width: 100%;
}

.time-div {
  -webkit-margin-end: 10px;
  margin-inline-end: 10px;
  color: #d9d9d9;
}

.first-column-notify {
  width: 30px;
}

@media only screen and (max-width: 575px) {
  .notifications-modal {
    font-family: helvetica;
    font-weight: thin;
    bottom: 0px;
    position: fixed;
    width: 100%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    background: #ffffff;
    height: 56px;
    margin-bottom: 56px;
  }

  .first-column-notify {
    width: 30px;
  }

  .outer-header-div {
    float: left;
    padding-left: 30px;
    padding-top: 15px;
  }

  .page-heading {
    background-image: linear-gradient(to right, #dc0600, #ef3024);
    color: #ffffff;
    height: 67px;
    width: 100%;
    font-size: 25px;
    font-family: helvetica;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0px 10px 16px -6px rgba(0, 0, 0, 0.33);
    position: fixed;
    display: flex;
  }

  .notifications-body-class {
    background-color: #ffffff;
    color: white;
    border-style: none;
    border: none;
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    left: 25px;
  }

  .notifications-images {
    background-image: url("./Notification-Img/delete3.png");
    padding-bottom: 6px;
    padding-right: 11px;
    text-align: justify;
    background-repeat: no-repeat;
    background-size: 24px;
    height: 24px;
    padding-right: 27px;
  }

  .notifications-images:hover {
    cursor: pointer;
  }

  .notifications-selected {
    background: url("./Notification-Img/submit_plus_add_score.png");
    padding-bottom: 6px;
    padding-right: 11px;
    text-align: justify;
    background-repeat: no-repeat;
    background-size: 24px;
    height: 24px;
    padding-right: 27px;
  }

  .notifications-selected {
    cursor: pointer;
  }

  .notifications-icon {
    margin-left: 305px;
    margin-top: 5px;
  }

  .black-delete-icon {
    height: 26px;
    width: 20px;
    margin-left: 40px;
    margin-top: 5px;
  }

  .black-delete-icon:hover {
    cursor: pointer;
  }

  .delete-icon {
    height: 26px;
    width: 20px;
    margin-left: 40px;
    margin-top: 5px;
  }

  .delete-icon:hover {
    cursor: pointer;
  }

  .trash-spacing {
    margin-left: 305px;
    margin-top: 5px;
  }

  .notification-icon-spacing {
    display: flex;
    margin-right: 30px;
    margin-top: 17px;
  }

  .admin-notification-icon-spacing {
    display: flex;
    margin-right: 26px;
    margin-top: 20px;
  }

  .notification-gun-overlay-image {
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 8px 0px;
    background-image: url("../components/assets/gunOverlay.png");
    width: 100%;
  }

  .td-delete {
    padding-left: 28px;
    color: white;
    font-size: 13px;
    border-bottom-style: none;
    font-family: helvetica;
    width: 30px;
  }

  .td-notification {
    color: #6f839e;
    font-size: 14px;
    font-family: helvetica;
    text-align: left;
    vertical-align: middle;
    padding-left: 22px;
    width: 84%;
  }

  .tr-class {
    border-bottom: solid 1px #bbbcbb;
    height: 64px;
    margin: 1em auto;
  }

  .t-body {
    border-bottom: none;
    font-family: helvetica;
    background-color: #ffffff;
    color: #6f839e;
    border-style: none;
    border: none;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 640px;
    text-align: justify;
  }

  .post-items {
    background-color: #ffffff;
    color: #6f839e;
    border-style: none;
    border: none;
    overflow-y: scroll;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 640px;
    width: 100%;
    padding-top: 50px;
    margin-top: 23px;
  }

  .notifications-unread {
    color: #000000;
    text-decoration-line: none;
    text-align: justify;
    text-justify: newspaper;
    font-weight: bold;
    font-family: helvetica;
    font-size: 14px;
    padding-top: 9px;
    width: 100%;
  }

  .notifications-unread:hover {
    cursor: pointer;
  }

  .notifications-text {
    color: #000000;
    text-decoration-line: none;
    text-align: justify;
    text-justify: newspaper;
    font-weight: lighter;
    font-family: helvetica;
    font-size: 14px;
    padding-top: 9px;
    width: 100%;
  }

  .notifications-selected-text {
    color: red;
    text-decoration-line: none;
    text-align: justify;
    text-justify: newspaper;
    font-weight: lighter;
    font-family: helvetica;
    font-size: 14px;
    padding-top: 9px;
    width: 100%;
  }

  .notifications-a {
    padding-left: 47px;
    text-align: justify;
    text-justify: newspaper;
    text-decoration: none;
  }

  #notifications a:hover {
    color: red;
  }
  a:active {
    color: red;
    text-decoration: none;
  }

  .notifications-modal-confirm {
    font-weight: lighter;
    font-size: 16px;
    background-color: #dc0600;
    border-radius: 25px;
    width: 95%;
    height: 42px;
    border-color: #dc0600;
    border-width: 1.5px;
    border: none;
  }

  .notifications-modal-cancel {
    font-weight: lighter;
    font-size: 16px;
    background-color: transparent;
    border-style: thin;
    border-radius: 25px;
    width: 90px;
    height: 42px;
    border-color: #000000;
    border-width: 1.5px;
    color: #000000;
    border: 1px #000000 solid;
  }

  .empty-screen {
    font-weight: lighter;
    font-family: helvetica;
    font-size: 14px;
    padding-top: 9px;
    align-content: center;
  }

  .notifications-a-class {
    text-align: left;
  }

  .hidden {
    display: none;
  }

  .black-select-all {
    background: url("Notification-Img/black-select-all.png");
    height: 24px;
    width: 24px;
  }

  .white-select-all {
    background: url("Notification-Img/white-select-all.png");
    height: 24px;
    width: 24px;
  }

  .format-content {
    padding-left: 25px;
    padding-right: 25px;
    position: static;
    padding-top: 45px;
  }

  .announcement-text {
    margin-top: 85px;
  }
}

.select-all {
  height: 27px;
  width: 30px;
  margin-left: 50px;
  margin-top: 5px;
  margin-right: 11px;
}

.admin-select-all {
  height: 28px;
  width: 30px;
  margin-right: 10px;
}

.admin-delete-icon {
  height: 26px;
  width: 20px;
}

.admin-black-delete-icon {
  height: 26px;
  width: 20px;
}

.notification-icon-on-the-side {
  height: 22px;
}

.announcement-main {
  display: grid;
  height: 100%;
}
.announcement-text {
  width: 312px;
  height: 123px;
  padding-left: 19px;
  font-weight: bold;
  font-size: 16px;
  color: #000000;
  padding-top: 20px;
  border-radius: 5px;
}

.announcement-send {
  width: 312px;
  height: 42px;
  margin-top: 36px;
  background: #dc0600;
  color: white;
  font-size: 16px;
  font-weight: lighter;
  border: 1px solid #dc0600;
  border-radius: 22px;
}
.announcement-text:focus {
  outline: none;
}
.announcement-send:focus {
  outline: none;
}

.notification-images {
  height: 26px;
  width: 24px;
  float: left;
  margin-left: 96px;
  margin-top: 5px;
}

.admin-notification-images {
  height: 26px;
  width: 24px;
  float: left;
  margin-left: 25px;
  margin-top: 20px;
}

.disabled-button {
  color: #ebebeb;
  font: helvetica;
  font-weight: lighter;
  background: #fdfdfd;
  padding: 1px 6px;
  width: 312px;
  height: 42px;
  margin-top: 20px;
  font-size: 16px;
  border: 1px solid #ebebeb;
  border-radius: 22px;
}

.submit-announcement-clicked {
  color: red;
}

.notification-spacing {
  margin-right: 18px;
}
