@media all and (min-width: 480px) {
  .Notifications {
    padding: 60px 0;
  }

  .Notifications form {
    margin: 0 auto;
    max-width: 320px;
  }
}

.body-class {
  background-color: #fdfdfd;
  color: white;
  border-style: none;
  border: none;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 100%;
  padding-top: 5px;
  text-align: center;
  position: static;
  right: -25px;
  left: 25px; 
}

.notifications-images {
  background-image: url("./Notification-Img/delete3.png");
  padding-bottom: 6px;
  padding-right: 11px;
  text-align: justify;
  background-repeat: no-repeat;
  height: 24px;
}

.selected{
  background: url("./Notification-Img/submit plus add score.png");
  padding-bottom: 6px;
  padding-right: 11px;
  text-align: justify;
  background-repeat: no-repeat;
  height: 24px;
}

.page-heading {
  text-align: center;
  align-content: center;
  background-image: linear-gradient(to right, #Dc0600, #ef3024);
  color: #fdfdfd;
  height: 56px;
  width: 100%;
  padding-top: 9px;
  padding-right: 90px;
  font-size: 25px;
  font-family: helvetica;
  padding-left: 100px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0px 10px 16px -6px rgba(0,0,0,0.33);
  margin-top: -8px;
}

.td-delete {
  padding-left: 31px;
  color: white;
  font-size: 13px;
  border-bottom-style: none;
  font-family: helvetica;
  text-align: right;
}

.td-notification {
  color: #6F839E;
  font-size: 14px;
  font-family: helvetica;
  text-align: left;
  vertical-align: middle;
  padding-left: 12px;
  width: 80%;
}

.tr-class {
  border-bottom: solid 1px #bbbcbb;
  height: 64px;
  margin: 1em auto;
}

.t-body {
  border-bottom: none;
  font-family: helvetica;
  background-color: #fdfdfd;
  color: #6F839E;
  border-style: none;
  border: none;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 640px;
  text-align: justify;
}

.post-items {
  text-align: center;
  background-color: #fdfdfd;
  color: #6F839E;
  border-style: none;
  border: none;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 640px;
  width: 100%;
  padding-top: 50px;
  margin-top: 23px;
}

.navbar-custom.navbar.navbar-expand-lg.navbar-light.bg-light.fixed-top {
  padding-left: inherit;
}

.text {
  color: #6F839E;
  font-family: helvetica;
  text-decoration-line: none;
  text-align: center;
  font-weight: lighter;
  font-family: helvetica;
  font-size: 14px;
  padding-top: 9px;
}

.selected-text{
  color: red;
  font-family: helvetica;
  text-decoration-line: none;
  text-align: center;
}

.notifications-a{
  padding-left: 47px;
  text-align: justify;
  text-justify: newspaper;
}

#notifications a:hover {
  color: red;
}
a:active {
  color: red;
  text-decoration: none;
}

.notifications-slider {
	overflow-y: hidden;
	max-height: 500px; /* approximate max height */

	transition-property: all;
  transition-duration: .5s;
  transition: all .5s ease-in-out;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.notifications-slider-closed{
  max-height: 0;
}

.notifications-modal{
  font-family: helvetica;
  font-weight: thin;
  bottom: 0px;
  position: fixed;
  width: 100%;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  background-image: linear-gradient(to right, #282829, #6D6D6D);
  height: 56px;
}

.notifications-modal-confirm{
  font-weight: lighter;
  font-size: 16px;
  background-color:  #Dc0600;
  border-radius: 25px;
  width: 96px;
  height: 42px;
  border-color: #Dc0600;
  border-width: 1.5px;
  border: none;
}

.notifications-modal-cancel{
  font-weight: lighter;
  font-size: 16px;
  background-color: transparent;
  border-style: thin;
  border-radius: 25px;
  width: 96px;
  height: 42px;
  border-color: #fdfdfd;
  border-width: 1.5px;
  border: 1px #fdfdfd solid;
}

.empty-screen{
  font-weight: lighter;
  font-family: helvetica;
  font-size: 14px;
  padding-top: 9px;
  align-content: center;
}

.notifications-text{
  color: #fdfdfd;
}

.notifications-a-class{
  text-align: left;
}

.hidden{
  display: none;
}

.format-content{
  padding-left: 25px;
  padding-right: 25px;
}