@media all and (min-width: 480px) {
  .Login {
    padding: 60px 0;
  }

  .Login form {
    margin: 0 auto;
    max-width: 320px;
  }
}

.page-content-login{
  overflow-y: overlay;
  background-color: transparent;
  width: 100%;
  z-index: 50;
  position: relative;
  background-repeat: no-repeat;
  height: 90vh;
  background-size: cover;
  background-position: center;
}

.centre-login-register{
  margin:0 auto;
  position: center;
  text-align: center;
  padding-top: 41px;
}

.header-container{
  background-color: #EA241A;
  text-align: center;
  height: 57px;
  margin-top: 15px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  box-shadow: 0px 10px 16px -6px rgba(0,0,0,0.33);
}

.front-white{
  color: #6F839E;
  font-size: 18px;
}

.button-container{
  position: relative;
  width: 100%;
  text-align: center;
  padding-top: 30px;
}

.round-button{
  width: 312px;
  height: 42px;
  color: #fdfdfd;
  border-radius: 25px;
  background-color: #000000;
  font-size: 16px;
  margin-top: -22px;
  border: none;
}

.round-button:disabled{
  color: #C0C1C2;
  background-color: transparent;
  border-color: #C0C1C2;
  opacity: 80;
}

.round-button:focus{
  background-color:#fdfdfd;
  color: #ebebeb;
  border:1px lightgray solid;
}

.round-button:active{
  background-color:#fdfdfd;
  color: #ebebeb;
  border:1px lightgray solid;
}

.buttons-invalid{
  background-color: #fdfdfd;
  color: #ebebeb;
  cursor: default;
  border: 1px lightgray solid;
  font-size: 16px;
}

.buttons-invalid:active{
  color: #ebebeb;
  cursor: default;
}

.buttons-valid{
  color:#171F32;
}

.spacing-login{
  padding:8px;
  height: 100px;
}

.register-anchhor{
  float: right;
  bottom: 0;
  font-size: 12px;
  padding-top: 30px;
  padding-right: 15px;
}

.register-anchhor{
  color:white;
}

.register-anchhor a{
  text-decoration: underline;
}

.input-user{
  border-radius: 4px;
  border: 1px #000000 solid;
  width: 312px;
  height: 56px;
  font-size: 18px;
  background-color: #ffffff;
  padding-left: 16px;
  color: #000000;
  font-weight: bolder;
}

.input-password{
  border-radius: 4px;
  width: 312px;
  height: 56px;
  font-size: 18px;
  background-color: #ffffff;
  border: 1px #000000 solid;
  padding-left: 16px;
  color: #000000;
  font-weight: bolder;
  -webkit-text-security: disc;
}

.input-password-show{
  border-radius: 4px;
  width: 312px;
  height: 56px;
  font-size: 18px;
  background-color: #fdfdfd;
  border: 1px #000000 solid;
  padding-left: 16px;
  color: #000000;
  font-weight: bolder;
  -webkit-text-security: none;
}

.centre-div{
  margin:0 auto;
}

.password-view-icon{
  background: url("../components/assets/blackEyePassword.png") no-repeat right center;
  height: 30px;
  background-size: 30px;
  width: 30px;
  position: absolute;
  top: 16px;
  right: 18px;
}

.password-icon{
  background: url("../components/assets/Rounded.png") no-repeat right center;
  height: 30px;
  background-size: 30px;
  width: 30px;
  position: absolute;
  top: 16px;
  right: 18px;
  -webkit-text-security: none;
}

.password-view-icon:hover{
  cursor: pointer;
}

.header-label-login{
  font-size: 25px;
  color: white;
  font-weight: 400;
  font-family: helvetica;
}

.header-label{
  font-size: 25px;
  color: white;
  font-weight: 400;
  font-family: helvetica;
}

@media screen and (max-width:500px){
  .header-label{
    padding-right: 33px;
  }
}

.button-login{
  background-color: #EA241A;
  color: #fdfdfd;
  border: 1px #fdfdfd solid;
  border-radius: 25px;
  height: 38px;
  width: 100px;
  font-weight: lighter;
  position: absolute;
  right: 15px;
  top: 90px;
  font-size: 16px;
}

.invalid-icon{
  background-image: url("../components/assets/redError.png");
  background-size: 22px;
  height: 22px;
  width: 22px;
  color: #0e0942;
  float: right;
  position: absolute;
  top: 1px;
  right: 42px;
}

.input-label{
  width: 312px;
  position: relative;
}

.welcome-header{
  width: 100%;
  height: 73px;
  background-color: #FFFFFF;
  text-align: center;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  box-shadow: 0px 10px 16px -6px rgba(0,0,0,0.33);
}

.welcome-label{
  text-align: center;
  padding-top: 12px;
  font-size: 18px;
  color: white;
  font-weight: 100;
  width: 100px;
}

@media all and (min-width: 750px) {
  .welcome-label{
    width: 100px;
  }
}

.skietbaan-label{
  text-align: center;
  font-size: 18px;
  color: #000000;
}

.bullet-button{
  height: 14px;
  margin-left: 10px;
  margin-top: -4px;
}

.hidden{
  display: none;
}

.header-image{
  height: 73px;
}

@media only screen and (min-width: 575px){
  .centre-login-register{
    width: 66%;
    left:17%;
    top: 30%;
    box-shadow: -1px 5px 7px 1px rgba(0,0,0,0.15);
    background-color: #ffffff;
    height: 92vh;
  }
  .red-background{
    background-color: #EA241A;
    border-radius: 18px;
    width: 66%;
    margin-left: 17%;
  }
  .button-login{
    right: 21%;
  }
}

.red-background{
  background-color: #EA241A;
  border-radius: 18px;
}

.back-btn{
  float: left;
  margin-top: -38px;
  margin-left: 30px;
  height: 34px;
}

.back-btn:hover{
  cursor: pointer;
}

.centre-label{
  text-align: center;
}

.error-message-login{
  color: #EA241A;
  font-size: 12px;
  padding-top: 3px;
}

.login-href{
  padding-top: 30px;
}

input{
  outline: none;
}

.forgot-password-link{
  font-size: 15px;
  font-weight: 300;
  color: #000000;
}