@media all and (min-width: 480px) {
    .registermember {
      margin: 0 auto;
    }
    .registermember form {
      margin: 0 auto;
    }
  }
  
  .col-1,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-10,.col-11,.col-12{
    float:left;
  }

  .centre-register-member{
    margin:0 auto;
    position: center;
    background-color: white;
  }

  @media screen and (min-width:768px)  {
  .centre-register-member{
    width: 700px;
    left: 400px;
    top:100px;
  }
  }

  .search-name{
    position: center;
    text-align: center;
    height: 36px;
    line-height: 36px;
    background-color: #171F32;
  }

  .table-search-users{
    background-color: white;
  }
  
  .membership-number{
    padding-top: 110px;
    position: center;
    text-align: center;
  }

  .expiry-date-member{
    padding-top: 80px;
    position: center;
    text-align: center;
  }

  .create-member{
    position: center;
    text-align: center;
  }

  .expdate{
    border-radius: 15px;
    width: fit-content;
    background-color: lightgray;
    text-align: center;
  }

  .create-button{
    border-radius: 15px;
    width: fit-content;
    border: 1.5px solid;
    background-color: #171F32;
    color: white;
    margin-top: 100px;
  }

  .usernameValue{
    border-radius: 10px;
    line-height: 22px;
    text-align: center;
  }

  .membershipID{
    border-radius: 10px;
    width: 210px;
    text-align: center;
  }
