@media all and (min-width: 480px) {
  .Login {
    padding: 60px 0;
  }

  .Login form {
    margin: 0 auto;
    max-width: 320px;
  }
}

.page-content-login{
  height: stretch;
  background-color: #fdfdfd;
  width:100%;
  z-index: 50;
  position: relative;
  height: 100vh;
}

.centre-login{
  margin:0 auto;
  position: center;
  text-align: center;
  padding-top: 40px;
}

@media screen and (min-width:768px)  {
  .centre-login{
    width: 50%;
    left:25%;
    top: 30%;
  }
}

.header-container{
  background-color: #EA241A;
  text-align: center;
  height: 73px;
  border-radius: 21px;
  box-shadow: 0px 10px 16px -6px rgba(0,0,0,0.33);
}

.front-white{
  color: #6F839E;
  font-size: 18px;
}

.button-container{
  position: relative;
  width: 100%;
  text-align: center;
  padding-top: 40px;
}

.round-button{
  width: 100px;
  height: 42px;
  color: white;
  border-radius: 25px;
  background-color: #6F839E;
  font-size: 16px;
}

.buttons-invalid{
  background-color: #fdfdfd;
  color: #ebebeb;
  cursor: default;
  border: 1px lightgray solid;
  font-size: 16px;
}

.buttons-invalid:active{
  color: #ebebeb;
  cursor: default;
}

.buttons-valid{
  color:#171F32;
}

.no-padding{
  padding:0 ;
}

.register-anchhor{
  float: right;
  bottom: 0;
  font-size: 12px;
  padding-top: 30px;
  padding-right: 15px;
}

.register-anchhor{
  color:white;
}

.register-anchhor a{
  text-decoration: underline;
}

.input-user{
  border-radius: 9px;
  border: 1px #6F839E solid;
  width: 267px;
  height: 39px;
  text-align: center;
  font-size: 18px;
  background-color: #F3F4F9;
}

.input-Password{
  border-radius: 9px;
  width: 267px;
  height: 39px;
  text-align: center;
  font-size: 18px;
  background-color: #F3F4F9;
  border: 1px #6F839E solid;
}

.centre-div{
  margin:0 auto;
}

.password-view-icon{
  background: url("../components/assets/graypassword.png") no-repeat right center;
  height:30px;
  background-size: 30px;
  width: 30px;
  position: absolute;
  top: 5px;
  right: 18px;
}

.password-view-icon:hover{
  cursor: pointer;
}

.header-label{
  font-size: 25px;
  color: white;
  font-weight: 400;
  padding-top: 18px;
}

.button-login{
  background-color: #EA241A;
  color: #fdfdfd;
  border: 1px #fdfdfd solid;
  border-radius: 25px;
  height: 38px;
  width: 100px;
  font-weight: lighter;
  position: absolute;
  right: 10px;
  top: 95px;
  font-size: 16px;
}

.invalid-icon{
  background-image: url("../components/assets/redError.png");
  background-size: 22px;
  height: 22px;
  width: 22px;
  color: #0e0942;
  float: right;
  position: absolute;
  top: 1px;
  right: 38px;
}

.input-label{
  width: 267px;
  position: relative;
}

.welcome-header{
  width: 100%;
  height: 79px;
  background-color: #EA241A;
  text-align: center;
}

.welcome-label{
  text-align: center;
  padding-top: 9px;
  font-size: 21px;
  color: white;
  font-weight: 100;
  float: right;
  padding-right: 24px;
}

.skietbaan-label{
  text-align: center;
  padding-top: 23px;
  font-size: 19px;
  color: #EA241A;
}

.bullet-button{
  height: 14px;
  margin-left: 10px;
  margin-top: -4px;
}

.hidden{
  display: none;
}

.header-image{
  height: 94px;
  width: 100%;
}

.red-background{
  background-color: #EA241A;
  border-radius: 18px;
}

.back-btn{
  float: left;
  margin-top: -38px;
  margin-left: 30px;
  height: 34px;
}

.centre-label{
  text-align: center;
}