@media all and (min-width: 480px) {
    .registermember {
      margin: 0 auto;
    }
    .registermember form {
      margin: 0 auto;
    }
  }
  body{
    background-color:red;
  }
  .col-1,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-10,.col-11,.col-12{
    float:left;
  }
  .centre-register-member{
    margin:0 auto;
    position: center;
    left: 3px;
    top: 15px;
    border: 1px solid rgba(0,0,0,0.35);
    padding: 20px;
    background-color: white;
    box-shadow: 2px 2px rgba(0,0,0,0.24);
  }
  @media screen and (min-width:768px)  {
  .centre-register-member{
    width: 700px;
    left: 400px;
    top:100px;
  }
  }
  input.invalid{
    border:1px solid red;
  }
  .invalid-message{
    color:red;
    font-size: 12px;
  }
  .no-padding{
    padding:0 ;
  }
