@media all and (min-width: 480px) {
  .Login {
    padding: 60px 0;
  }

  .Login form {
    margin: 0 auto;
    max-width: 320px;
  }
}

.Page-content{
  height: stretch;
  background-color: #504f51;
  width:100%;
  z-index: 50;
  position: relative;
  height: 100vh;
}

.test{
  width:50%
}

.col-1,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-10,.col-11,.col-12{
  float:left;

}

.centre-login{
  margin:0 auto;
  position: center;
  text-align: center;
  padding-top: 20px;
}

@media screen and (min-width:768px)  {
  .centre-login{
    width: 50%;
    left:25%;
    top: 30%;
  }
}

.header-container{
  background-color: black;
  text-align: center;
  height: 49px;

}

.front-white{
  color:white;
  font-size: 18px;
  font-weight: lighter;
}

.button-container{
  position: relative;
  width: 100%;
  text-align: center;
  padding-top: 20px;
}

.round-button{
  width: 100px;
  height: 42px;
  color: white;
  border-radius: 25px;
  background-color: #504f51;
  border: 1px red solid;
}

.buttons-invalid{
  background-color: #504f51;
  color: #ebebeb;
  cursor: default;
  border: 1px lightgray solid;
}

.buttons-invalid:active{
  color: #ebebeb;
  cursor: default;
}

.buttons-valid{
  color:#171F32;
}

.no-padding{
  padding:0 ;
}

.register-anchhor{
  float: right;
  bottom: 0;
  font-size: 12px;
  padding-top: 30px;
  padding-right: 15px;
}

.register-anchhor{
  color:white;
}

.register-anchhor a{
  text-decoration: underline;
}

.input{
  border-radius: 9px;
  border: none;
  width: 267px;
  height: 39px;
  text-align: center;
}

.input-Password{
  border-radius: 9px;
  border: none;
  width: 267px;
  height: 39px;
  text-align: center;
  background: url("../components/assets/password.png") no-repeat right center;
  background-color: white;
  background-size: 30px;
  background-position-x: 95%;
}

.header-label{
  font-size: 25px;
  color: white;
  font-weight: bold;
  padding-top: 4px;
}

.button-login{
  background-color: black;
  color: white;
  border: 1px red solid;
  border-radius: 25px;
  height: 38px;
  width: 100px;
  font-weight: lighter;
  position: absolute;
  right: 10px;
  top: 86px;
}

.invalid-icon{
  background-image: url("../components/assets/redError.png");
  background-size: 22px;
  height: 22px;
  width: 22px;
  color: #0e0942;
  float: right;
  position: absolute;
  top: 1px;
  right: 50px;
}

.input-label{
  width: 267px;
  position: relative;
}

.welcome-header{
  width: 100%;
  height: 80px;
  background-color: lightgray;
  text-align: center;
}

.welcome-label{
  text-align: center;
  padding-top: 23px;
  font-size: 22px;
  color: #e11e2b;
}

.bullet-button{
  height: 14px;
  margin-left: 10px;
  margin-top: -4px;
}
