@media all and (min-width: 480px) {
    .registermember {
      margin: 0 auto;
    }
    .registermember form {
      margin: 0 auto;
    }
  }
  

  .centre-register-member{
    margin:0 auto;
    position: center;
    background-color: #fdfdfd;
  }

  @media screen and (min-width:768px)  {
  .centre-register-member{
    width: 100%;
    left: 400px;
    top:100px;
  }
  }

  .page-name-create-members{
    position: center;
    text-align: center;
    text-size-adjust: 25px;
    background-size: 15px;
    height: 56px;
    background-color: #DC0600;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  .search-name{
    position: center;
    text-align: center;
    height: 60px;
    line-height: 36px;
    background-color: #fdfdfd;
    padding-top: 8px;
  }

  .table-search-users{
    background-color: #504f51;
    width: 267px;
    border-radius: 10px;
  }
  
  .membership-number{
    display:inline-block;
    padding-top: 31px;
    text-align: left;
    color: #798CA5;
    font-size: 18px;
    font-weight: 900;
  }

  .expiry-date-member{
    display:inline-block;
    padding-top: 31px;
    text-align: left;
    color: #fdfdfd;
  }

  .create-member{
    position: center;
    text-align: center;
    padding-top: 76px;
  }

  .expdate{
    border-radius: 6px;
    width: 202px;
    height: 39px;
    text-align: center;
    border: none;
    font-size: 18px;
    font-weight: bold;
    color: #6B6B6C;
    background-color: #F3F4F9;
    border: 1.5px #798CA5 solid;
  }

  .create-button{
    display: inline-block;
    border-radius: 18px;
    border: 1.5px #798CA5 solid;
    background-color: #798CA5;
    color: #fdfdfd;
    width: 152px;
    height: 38px;
    font-size: 16px;
  }

  .username{
    background: url('../components/assets/search-red.png') no-repeat right center;
    background-size: 22px;
    height: 39px;
    background-position-x: 95%;
    border-radius: 4px;
    text-align: center;
    width: 267px;
    background-color: #F3F4F9;
    border: none;
    font-size: 18px;
    color: #6B6B6C;
    border: 1.5px #798CA5 solid;
  }

  .membershipID{
    border-radius: 6px;
    width: 202px;
    height: 39px;
    text-align: center;
    border: none;
    font-size: 18px;
    font-weight: bold;
    color: #6B6B6C;
    background-color: #F3F4F9;
    border: 1.5px #798CA5 solid;
  }

  .search{
    background-color: #171F32;
  }

  .create-members{
    size: 49px;
    padding-top: 10px;
    font-weight: bolder;
    font-size: 20px;
    color: #fdfdfd;
    padding-right: 52px;
  }

  .div-label-enter-user-name{
    text-align: center;
    color: #fdfdfd;
    padding-top: 56px;
    font-size: 26px;
  }

  .label-enter-user-name{
    text-align: center;
    color: #6F839E;
    padding-top: 15px;
    font-size: 18px;
    font-weight: bold;
  }

  .table-register-member{
    width: 267px;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    background-color: #fdfdfd;
    position: absolute;
  }

  .register-member-user-column{
    border: none;
    border-radius: 10px;
  }
  
  .register-member-user-column{
    background-color: #798CA5;
    color: #fdfdfd;
    border-radius: 10px;
    border: none;
    padding-left: 10px;
  }
  
  .actives{
    border-color: red;
    border-radius: 10px;
    color: #fdfdfd;
    border: none;
    display: none;
  }

  .register-member-user-column:hover{
    background-color: lightgray;
    border: none;
    border-radius: 10px;
  }

  .register-member-user-row{
    display: block;
    border: none;
    border-radius: 10px;
  }
  
  .register-member-user-column{
    border: none;
    border-radius: 10px;
  }

  .membership-expiry-date{
    font-size: 18px;
    font-weight: bold;
    color: #6F839E;
  }

  .membership-id-number{
    font-size: 18px;
    font-weight: lighter;
    color: #6F839E;
  }

  .hide-create-button{
    display: none;
  }
  .input-container{
    width:267px;
    margin:0 auto;
  }

  .container-labels{
    text-align: center;
  }

  .input-spacing{
    text-align: center;
  }

  .hide-membership-number{
    display:none;
  }

  .hide-expiry-date-member{
    display:none;
  }

  .go-back-to-create-page-from-create-member{
    float: left;
    padding-top: 10px;
    padding-left: 40px;
    background-size: 15px;
    height: 40px;
    margin-top: 3px;
  }
