.Circle{
    background-color: white;
    border: 1px solid black;
    border-radius: 18px;
    text-align: center;
    width: 25px;
    height: 25px;
    position: absolute;
    top: -10px;
}

.ProgressBar{
    width: 100%;
    height: 60px;
    background-color: black;
    position:absolute;
}

.active{
    background-color:  black;
    color: red;
}

.first{
    left: 12%;
}

.second{
    left: 34%;
}

.third{
    left: 56%;
}

.fourth{
    left: 78%;
}

.competition-container{
    padding-top:80px;
    list-style-type: none;
}

.competition-item{
    width: 150px;
    height: 35px;
    background-color: grey;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
}

.competition-item:hover{
    cursor: pointer;
    background-color: lightgray;

}
.hidden{
    display:none !important ;
}

.video{
    width: 640px;
    height: 480px
}