.competition-container{
    padding-top: 40px;
    list-style-type: none;
    width: 80%;
    margin: 0 auto;
}

.competition-item{
    width: 100%;
    height: 35px;
    background-color: #171F32 ;
    color: white;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
}

.competition-item:hover{
    cursor: pointer;
    color: #FF611D;
}

.hidden{
    display:none !important ;
}

.video{
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid #FF611D;
}

.retake{
    height: 40px;
}

.page-content{
    width: auto;
    height: stretch;
    background-color: #171F32;
    width:100%;
    z-index: 50;
    position: relative;
    height: 670px;
}

.opacity-85{
    opacity: 0.85;
}

.score{
    border-radius: 5px;
    border-color: #0e0942;
    width: 36%;
    margin: 0 auto;
    text-align: center;
    color:#FF611D;
}

@media screen and (min-width:580px)  {
    .score{
    width:24%;

    }
}

.invalid{
    color:#FF611D;
    float: left;
    width: 100%;
    text-align: center;
    font-size: 14px;
}

.success{
    color:#FF611D;
}

.sucess-container{
    float: left;
    width: 100%;
    text-align: center;
}

.label-score{
    color: white;
    font-size: x-large;
    text-align: center;
    width:100%;
}

.label-competition{
    color: white;
    font-size: x-large;
    padding-top: 30px;
}

.centre-label{
    width:100%;
    text-align: center;
}

.active{
    color:#FF611D
}

label.front-dark{
    color:white;
}

.no-padding{
    padding:0;  
}

.competition-item-container{

    width:50%;
    float: left;
    padding:15px;
}

@media screen and (min-width:768px)  {
    .competition-item-container{
        width: 25%;
      left:25%;

    }
}

@media screen and (min-width:580px)  {
    .competition-item-container{
        width: 33.33%;
        left:25%;

    }
}

.submit-container{
    position: absolute;
    bottom: 70px;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

@media screen and (max-height:580px)  {
    .submit-container{
        bottom: 170px;
    }
}

.submit-button-elements{
    float: left;
    width: 50%;
    height: 80px;
    position: relative;
}

.video-container{
    width:360px;
    height:360px;
    margin:0 auto;
}

@media screen and (max-width:510px)  {
    .video-container{
        height: 350px;
        width: 350px;
        border-radius:25%;
    }
}

.image-view{
    top: 44px;
    display: block;
    position: relative;
    margin: 0 auto;
    border-radius: 50%;
    -o-object-fit: cover;
    object-fit: cover;
    border: 5px solid #FF611D;
    text-align: center;
}

.image-view.background{
    border:none;
    width:90%;
    height:90%

}

.image-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

hr{
    display:none;
}

.button-hover:hover{
    cursor: pointer;
}

.score-capture-black{
    margin-top: 0px;
}


.position-relative{
    position: relative;
}

.labelIcon{
    color: white;
    width: 100%;
    margin-top: 7px;
    position: absolute;
    bottom: 0;
    text-align: center;
    left: 0;
}

.flash{
    height: 45px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url("../components/assets/FlashOn.png");
}

.flashOff{
    height: 45px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url("../components/assets/FlashOff.png");
}
.label-container{
    text-align: center;
    padding-bottom: 10px;
}

.button-that-submits{
    height: 40px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}
