.add-score-competition-container{
    padding-top: 0px;
    list-style-type: none;
    text-align: center;
    width: 318px;
    margin: 0 auto;
    color: black;
    font-size: 16px;
    font-weight: bold;
    padding-left: 3px;
}

.scrollbar{
    max-height: 56vh;
    padding-bottom: 56px;
    overflow-y: overlay;
}


.view-score-competition-container{
    padding-top: 0px;
    list-style-type: none;
    text-align: center;
    width: 318px;
    margin: 0 auto;
    color: black;
    font-size: 16px;
    font-weight: bold;
    padding-left: 3px;
}

@media screen and (max-width: 576px){
    ::-webkit-scrollbar { 
        display: none !important; 
    }
}

.competition-item{
    width: 312px;
    height: 42px;
    color: #666666;
    text-align: center;
    padding: 7px;
    border-radius: 25px;
    font-size: 17px;
    border: 1px #666666 solid;
    font-weight: 300;
    margin-bottom: 15px;
    overflow-y: hidden;
    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.float-right{
    float:right;
}

@media screen and (min-width:580px)  {
    .competition-item{
        text-align: center;

    }
}

.btn-score-capture{
    height: 42px;
    width: 72px;
    border-radius: 22px;
    box-shadow: -1px 5px 7px 1px rgba(0,0,0,0.15);
}

.btn-score-capture2{
    height:42px;
    width: 142px;
    border-radius: 22px;
    box-shadow: -1px 5px 7px 1px rgba(0,0,0,0.15);
}

.submit-container-comp{
    bottom: 177px;
    margin: 0 auto;
    text-align: center;
    width: 312px;
    display: flex;
    bottom: 40px;
    position: relative;
}

.competition-item:hover{
    cursor: pointer;
}

.hidden{
    display:none !important ;
}


.video{
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid #e11e2b;
    box-shadow:0px 10px 16px -6px rgba(0,0,0,0.33);
}

.page-content{
    margin-top: 56px;
    width: 100%;
    z-index: 50;
    height: 100%;
    margin-bottom: 56px;
}

.page-content-scores-page{
    width: 100%;
    z-index: 50;
    height: 100%;
    margin-bottom: 56px;
}

@media only screen and (max-height: 700px){
    .add-score-competition-container{
        height: 60%;
    }
}

@media screen and (min-width:576px)  {
    .score-capture-header{
        width: 100% !important;
        margin: 0;
        margin-top: 56px;
    }
    .score-capture-header{
        position: absolute !important;
    }
    .page-content-video{
        box-shadow: -1px 5px 7px 1px rgba(0,0,0,0.15);
        height: 95vh !important;
        border-bottom-left-radius: 13px;
        border-bottom-right-radius: 13px;
    }
    .padding-top-40{
        padding-top: 100px !important;
    }
    .view-scores-back-button{
        top: 293px !important;
        left: 8% !important;
    }
}

.page-content-video{
    background-color: #ffffff;
    width:100%;
    z-index: 50;
    height: 100vh;
    position: relative;
}

.score{
    border-radius: 10px;
    border: 1px #979797 solid;
    width: 312px;
    margin: 0 auto;
    color: black;
    background-color: #ffffff;
    height: 57px;
    padding-left: 11px;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 7px;
}

.view-score-input{
    border-radius: 10px;
    border: 1px #979797 solid;
    width: 312px;
    margin: 0 auto;
    color: black;
    background-color: #ffffff;
    height: 57px;
    padding-left: 11px;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 7px;
    background: url("../components/assets/newSearchIconRed.png") no-repeat right center;
    background-position-x: 273px;
    background-size: 22px;
}

.invalid-score{
    color:#EA251A;
    float: left;
    width: 100%;
    text-align: center;
    font-size: 16px;
    font-weight: 100;
}

.success-container{
    height: 320px;
    margin-top: 140px;
}

.sucess-container{
    float: left;
    width: 100%;
    text-align: center;
    height: 100vh;
}

.success{
    background: url('../components/assets/success.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 320px;
    margin-top: 140px;
}

.label-success-container{
    font-size: 24px;
    color: #BE0000;
    padding-top: 53px;
    font-weight: 300;
}

.padding-top-160{
    padding-top:160px;
}

.label-score{
    color: white;
    font-size: 25px;
    text-align: center;
    width: 100%;
    margin-top: 5px;
    transition-duration: 500ms;
    transition-property: margin-bottom;
}

.label-competition{
    color: #666666;
    font-size: 24px;
    font-weight: bold;
    font-family: helvetica;
}

.scorelabel{
    color: #666666;
    font-size: 24px;
    padding-top: 34px;
    font-weight: bold;
}

.centre-labels{
    width: 100%;
    font-size: 25px;
    text-align: center;
    font-weight: lighter;
    padding-top: 100px;
}

@media screen and (min-width: 575px){
    .centre-labels{
        padding-top: 180px;
    }
}

.photo-top-label{
    padding-top: 62px;
    margin-bottom: 20px;
    color: #000000;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
}

.competition-item-container{
    text-align: center;
}

.submit-container{
    margin: 0 auto;
    text-align: center;
    width: 312px;
    display: flex;
    bottom: 40px;
    position: relative;
}
.stretched{
    width:100%;
}

.inline-block{
    display:inline-block;
}

.retake{
    height: 42px;
    border-radius: 22px;
    box-shadow: -1px 5px 7px 1px rgba(0,0,0,0.15);
}

.submit-button-elements{
    float: left;
    height: 20px;
    width: 50%;
    position: relative;
}

.submit-button-elements2{
    width: 312px;
}

.loader-background{
    height: 410px;
    width: 312px;
    position: absolute;
    left: 8%;
    right: 8%;
    top: 22%;
    margin: auto;
    z-index: 100;
    background-color: black;
    border-radius: 15px;
}

.loading-message{
    color: #BE0000;
    bottom: 30%;
    margin: 0 auto;
    position: relative;
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    font-family: helvetica;
}

.loading-container-add-score{
    height: 150px;
}

.loader {
    margin: auto;
    border: 7px solid transparent;
    border-top: 7px solid #BE0000;
    height: 80px;
    width: 80px;
    -webkit-animation: rotate 0.8s infinite linear;
    animation: rotate 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border: 6px solid #BE0000;
    border-right-color: transparent;
    border-radius: 50%;
    margin-top: 70px;
  }

.target-loader-image{
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url("../components/assets/target.png");
    height: 100px;
    position: relative;
    bottom: 90px;
  }
  
  @keyframes rotate {
    0%    { transform: rotate(0deg); }
    100%  { transform: rotate(360deg); }
  }

.icon-push-down{
    position: absolute;
    bottom: 85px;
    left: 0;
    margin-left:10%;
    margin-right:10%;
    width: 100%;
}

.icon-push-down.no-margin{
    margin:0;
}

.submit-button-elements.third{
    width:33%;
}

.submit-button-elements.second{
    width: 33%;
    text-align: -webkit-center;
}

.video-container{
    width:310px;
    height:310px;
    margin:0 auto;
    padding-top: 53px;
}

.image-view{
    display: block;
    position: relative;
    margin: 0 auto;
    border-radius: 50%;
    -o-object-fit: cover;
    object-fit: cover;
    border: 5px solid #e11e2b;
    text-align: center;
}

.image-view.background{
    width: 310px;
    height: 310px;
}

.image-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
}

hr{
    display:none;
}

.button-hover:hover{
    cursor: pointer;
}

.score-capture-black{
    height: 30px;
    margin-top: 0px;
    box-shadow: -1px 5px 7px 1px rgba(0,0,0,0.15);
}

.btnScoreCapture{
    height: 30px;
}

.button-that-submits{
    height: 42px;
    width: 140px;
    border-radius: 22px;
    box-shadow: -1px 5px 7px 1px rgba(0,0,0,0.15);
    float: right;
    margin-right: 2%;
}

.fade-out{
    max-height: 0;
    margin: 0;
    padding: 0;
    border: none;
}

.button-that-submits2{
    height: 42px;
    width: 72px;
    border-radius: 22px;
    box-shadow: -1px 5px 7px 1px rgba(0,0,0,0.15);
}

.flash{
    height: 42px;
    width: 72px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url("../components/assets/redFlashOn.png");
    border-radius: 22px;
    box-shadow: -1px 5px 7px 1px rgba(0,0,0,0.15);
}

.gun-overlay-image{
    margin-top: 4px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 6px 0px;
    background-image: url("../components/assets/gunOverlay.png");
    width: 87%;
    height: 63px;
}

.flashOff{
    height: 42px;
    width: 72px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url("../components/assets/redFlashOff.png");
    border-radius: 22px;
    box-shadow: -1px 5px 7px 1px rgba(0,0,0,0.15);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

.active{
    background-color: #BE0000;
    color: white;
    border: none;
}

.competiton-cancel-button{
    background: url('../components/assets/whiteCancel.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 28px;
    width: 28px;
    margin-top: -25px;
}

.view-scores-cancel-button{
    background: url('../components/assets/whiteCancel.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 28px;
    width: 28px;
    position: absolute;
}

.btn-back{
    float: left;
    height: 30px;
    left: 30px;
    position: absolute;
    top: 18px;
}

@media screen and (max-width:425px)  {
    .hidden-small{
        display:none;
    }
}

.score-capture-header2{
    height: 67px;
    width: 100%;
    background-image: linear-gradient(to right, #ef3024 , #Dc0600);
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    box-shadow: 0px 10px 16px -6px rgba(0,0,0,0.33);
    position: absolute;
    top: 0px;
    z-index: 100;
}

.score-capture-header{
    height: 67px;
    width: 100%;
    background-image: linear-gradient(to right, #ef3024 , #Dc0600);
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    box-shadow: 0px 10px 16px -6px rgba(0,0,0,0.33);
    position: fixed;
    top: 0px;
    z-index: 100;
}

.label-for-score{
    font-size: 20px;
    color: #fdfdfd;
    font-weight: bold;
    padding-top: 14px;
    padding-left: 24px;
}

.float-left{
    float: left;
}

.score-capture{
    width: 43px;
    height: 34px;
}

.label-for-capture-score{
    color: #ffffff;
    padding-top: 14px;
    font-weight: 600;
}

.not-active{
    width: 312px;
    height: 77px;
    border: 1px #BE0000 solid;
    margin-top: 101px;
    border-radius: 5px;
}

.not-active-message{
    padding-top: 14px;
    font-size: 16px;
    font-weight: 300;
    color: #BE0000;
    font-family: helvetica;
}

.scores-page-switch-top{
    width: 320px;
    height: 36px;
    margin: auto;
    border: 1px solid #BE0000;
    top: 96px;
    border-radius: 18px;
    display: -webkit-box;
    position: absolute;

}

.scores-page-switch-top .scores-page-switch-active{
  height: 35px;	
  width: 160px;	
  border: 1px solid #BE0000;	
  border-radius: 18px;	
  box-shadow: 0 3px 8px -3px #674D4D;
  color: #FAFAFA;	
  font-family: Helvetica;	
  font-size: 14px;	
  font-weight: bold;	
  line-height: 18px;	
  text-align: center;
  background-color: #BE0000;
  text-align: center;
  padding-top: 8px;
  cursor: pointer;
}

.scores-page-switch-top .scores-page-switch-inactive{
  height: 36px;	
  width: 160px;
  border-radius: 18px;
  color: #666666;	
  font-family: Helvetica;	
  font-size: 14px;	
  font-weight: 300;	
  line-height: 18px;	
  text-align: center;
  padding-top: 9px;
  cursor: pointer;
}

.border-line{
    width: 309px;
    z-index: 1;
    border-bottom: 1px #A0A0A0 solid;
    margin: auto;
}

.border-line-usernames{
    width: 309px;
    z-index: 1;
    border-bottom: 1px #A0A0A0 solid;
    margin: auto;
}

.user-scores{
    color: #555555;
    font-size: 16px;
    font-weight: bold;
    font-family: helvetica;
    text-align: left;
    padding-top: 15px;
    padding-left: 12px;
}

.score-content{
    width: 309px;
}

.score-content-admin{
    width: 309px;
}

@media screen and (max-height: 550px ){
    .score-list-container{
        max-height: 53vh !important;
    }
}

.score-list-container{
    text-align: -webkit-center;
    max-height: 63vh;
    padding-bottom: 56px;
    overflow-y: overlay;
    overflow-x: hidden;
}

.date-view-score{
    font-size: 12px;
    font-weight: 300;
    text-align: left;
    padding-left: 11px;
    padding-bottom: 7px;
}

.min-height-22{
    min-height: 22px;
}

.view-scores-photo{
    height: 22px;
    position: relative;
    bottom: 10px;
    cursor: pointer;
    float: right;
}

.padding-top-40{
    padding-top: 40px;
}

.image-container-view-scores{
    padding-top: 31px;
}

.users-container{
    padding-top: 16px;
}

.user-emails{
    padding-bottom: 6px;
    text-align: left;
    padding-left: 11px;
    color: #555555;
    font-family: helvetica;
    font-weight: 300;
    cursor: pointer;
}

.usernames{
    text-align: left;
    font-size: 16px;
    color: #555555;
    font-weight: bold;
    padding-left: 11px;
    cursor: pointer;
}

.view-scores-username{
    font-size: 16px;
    font-weight: bold;
}

.view-scores-email{
    font-size: 12px;
    font-weight: 300;
    padding-top: 11px;
}

.username-and-email-view-scores{
    line-height: 6px;
    padding-top: 2px;
}

.bin-image-view-score{
        top: 21px;
        height: 26px;
        position: absolute;
        right: 37px;
        z-index: 1000;
        cursor: pointer;
}

.delete-icon-view-score{
    background-image: url("./Notification-Img/delete3.png");
    background-repeat: no-repeat;
    background-size: 24px;
    margin-right: -17px;
    margin-top: -51px;
    float: right;
    width: 28px;
    height: 28px;
    cursor: pointer;
}

.delete-icon-red-view-scores{
    background: url("./Notification-Img/submit_plus_add_score.png");
    background-repeat: no-repeat;
    background-size: 24px;
    margin-right: -17px;
    margin-top: -51px;
    float: right;
    width: 28px;
    height: 28px;
    cursor: pointer;
}

.view-scores-photo-admin{
    height: 14px;
    bottom: 18px;
    left: -16px;
    float: left;
    position: relative;
    cursor: pointer;
    padding-right: 12%;
}

.select-all-view-score {
    height: 28px;
    position: absolute;
    top: 20px;
    z-index: 1000;
    text-align: right;
    right: 72px;
    cursor: pointer;
}

.distance-view-scores-red{
    color: #BE0000;
    font-weight: 300;
    font-size: 12px;
}

.distance-view-scores{
    font-weight: 300;
    font-size: 12px;
}

.in-range-img{
    height: 21px;
    position: relative;
    bottom: 38px;
}

@media screen and (min-width:576px){
    .bin-image-view-score{
        top: 75px !important;
        right: 9% !important;
    }
    .score-content{
        width: 79%;
    }
    .border-line-usernames{
        width: 100%;
    }
    .border-line{
        width: 100%;
    }
    .select-all-view-score{
        top: 75px !important;
        right: 21% !important;
    }
    .score-list-container{
        max-height: 60vh !important;
    }
    .view-score-input{
        width: 65%;
        background-position-x: 96%;
    }
    .score-content-admin{
        width: 65%;
    }
}

.range-spacing{
    height: 27px;
    width: 200px;
    padding-left: 105px;
}

.view-scores-back-button{
    height: 29px;
    position: absolute;
    left: 28px;
    top: 231px;
}