.competition-container{
    padding-top: 6px;
    list-style-type: none;
    width: 70%;
    margin: 0 auto;
}

.competition-item{
    width: 100%;
    height: 35px;
    background-color: white ;
    color: #0e0942;
    text-align: center;
    padding: 5px;
    border-radius: 25px;
    font-size: 16px;
    font-family: 'helvetica';
}
.float-right{
    float:right;
}
@media screen and (min-width:580px)  {
    .competition-item{
        width:100%;
        text-align: center;

    }
}

.btnScoreCapture{
    height: 30px;
}

.competition-item:hover{
    cursor: pointer;
}

.hidden{
    display:none !important ;
}

.video{
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid #FF611D;
}

.page-content{
    width: auto;
    height: stretch;
    background-color: #171F32;
    width:100%;
    z-index: 50;
    position: relative;
    height: 100vh;
}

.opacity-85{
    opacity: 0.85;
}

.score{
    border-radius: 10px;
    border-color: #0e0942;
    width: 48%;
    margin: 0 auto;
    text-align: center;
    color:black;
}

@media screen and (min-width:580px)  {
    .score{
    width:24%;

    }
}

.invalidScore{
    background-image: url("../components/assets/Error.png");
    background-size: 22px;
    height: 22px;
    width: 22px;
    color: #0e0942;
    float: right;
    margin-top: -37px;
    margin-right: 17%;
}

.invalidComp{
    background-image: url("../components/assets/Error.png");
    background-size: 22px;
    height: 22px;
    width: 22px;
    float: right;
    margin-top: -36px;
    padding-right: 2px;
    margin-right: 28px;

}

.invalid{
    color:#FF611D;
    float: left;
    width: 100%;
    text-align: center;
    font-size: 14px;
}

.success{
    color:#FF611D;
}

.sucess-container{
    float: left;
    width: 100%;
    text-align: center;
}

.label-score{
    color: white;
    font-size: 25px;
    text-align: center;
    width:100%;
}

.label-competition{
    color: white;
    font-size: x-large;
    padding-top: 20px;
}

.scorelabel{
    padding-top: 10px;
}

.centre-label{
    width:100%;
    font-size: 25px;
    text-align: center;
    font-weight: lighter;
}

.photo-top-label{
    padding-top:20px;
    margin-bottom:20px;
    background-color:#171F32;
    color:white;
}

.no-padding{
    padding:0;  
}

.competition-item-container{
    text-align: center;
    padding:5px;
}

@media screen and (min-width:768px)  {
    .competition-item-container{
        width: 50%;
        left:25%;
    }
}

@media screen and (min-width:580px)  {
    .competition-item-container{
        width: 40%;
        margin-left:30%;

    }
}

.submit-container{
    position: absolute;
    bottom: 125px;
    margin: 0 auto;
    text-align: center;
    width: 80%;
    margin-left: 10%;
}

.retake{
    height: 30px;
}

.submit-button-elements{
    float: left;
    width: 50%;
    height: 20px;
    position: relative;
}

.icon-pushdown{
    position: fixed;
    bottom: 70px;
    width: 80%;
    left: 0;
    margin-left:10%;
    margin-right:10%;
}

.icon-pushdown.no-margin{
    margin:0;
    width:100%;
}

.submit-button-elements.third{
    width:33%;
}

.video-container{
    width:360px;
    height:360px;
    margin:0 auto;
}

@media screen and (max-width:510px)  {
    .video-container{
        height: 310px;
        width: 310px;
        border-radius:25%;
    }
}

.image-view{
    display: block;
    position: relative;
    margin: 0 auto;
    border-radius: 50%;
    -o-object-fit: cover;
    object-fit: cover;
    border: 5px solid #FF611D;
    text-align: center;
}

.image-view.background{
    width: 310px;
    height: 320px;
}

@media screen and (min-width:510px)  {
    .image-view.background{
        width: 320px;
        height: 320px;
    }
}

.image-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

hr{
    display:none;
}

.button-hover:hover{
    cursor: pointer;
}

.score-capture-black{
    height: 30px;
    margin-top: 0px;
}

.position-relative{
    position: relative;
}

.labelIcon{
    color: white;
    width: 60%;
    margin-top: 13px;
    bottom: 0;
    text-align: center;
    left: 0;
    font-size: 12px;
    font-family: 'helvetica';
}

.labelIcon2{
    color: white;
    width: 100%;
    bottom: 0;
    text-align: center;
    left: 0;
    font-size: 12px;
    font-family: 'helvetica';
    padding-left: 38%;
    padding-top: 13px;
}

.btnScoreCapture{
    height: 30px;
}

.button-that-submits{
    height: 30px;
}

.button-that-submits2{
    height: 30px;
    float: right;
    margin-top: 28%;
    margin-right: 26%;
}

@media screen and (min-height:600px)  {
    .button-that-submits2{
        margin-top: 35%;
        margin-right: 26%;
    }
}

.flash{
    height: 30px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url("../components/assets/FlashOn.png");
}

.flashOff{
    height: 30px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url("../components/assets/FlashOff.png");
}

.label-container{
    text-align: center;
    padding-bottom: 10px;
}

.button-that-submits{
    height: 30px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

.active{
    background-color: #0F5F79;
    color: white;
}

.btnBack{
    float: left;
    padding-left: 15px;
    height: 30px;
}

.spacing{
    padding-top: 47%;
    width: 100%;
    padding-right: 73%;
}

.white-border{
    height: 5px;
    width: 100%;
    background-color: white;
}

.back-spacing{
    width: 100%;
    height: 30px;
}