.add-score-competition-container{
    padding-top: 0px;
    list-style-type: none;
    text-align: center;
    width: 312px;
    margin: 0 auto;
    color: black;
    padding-right: 10px;
    font-size: 16px;
    font-weight: bold;
}

.competition-item{
    width: 312px;
    height: 42px;
    color: #666666;
    text-align: center;
    padding: 7px;
    border-radius: 25px;
    font-size: 17px;
    border: 1px #666666 solid;
    font-weight: 300;
    margin-bottom: 15px;
    overflow-y: hidden;
    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.float-right{
    float:right;
}

@media screen and (min-width:580px)  {
    .competition-item{
        text-align: center;

    }
}

.btn-score-capture{
    height: 42px;
    width: 72px;
    border-radius: 22px;
    box-shadow: -1px 5px 7px 1px rgba(0,0,0,0.15);
}

.btn-score-capture2{
    height:42px;
    width: 142px;
    border-radius: 22px;
    box-shadow: -1px 5px 7px 1px rgba(0,0,0,0.15);
}

.submit-container-comp{
    margin-top: 35px;
}

.competition-item:hover{
    cursor: pointer;
}

.hidden{
    display:none !important ;
}


.video{
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid #e11e2b;
    box-shadow:0px 10px 16px -6px rgba(0,0,0,0.33);
}

.page-content{
    margin-top: 56px;
    background-color: #ffffff;
    width: 100%;
    z-index: 50;
    position: relative;
    height: 100%;
    margin-bottom: 56px;
}

@media screen and (min-width:576px)  {
    .page-content{
        margin-bottom: 0px;
    }
    .score-capture-header{
        margin-top: 56px;
    }
}

.page-content-video{
    background-color: #ffffff;
    width:100%;
    z-index: 50;
    height: 100vh;
    position: absolute;
}

.opacity-85{
    opacity: 0.85;
}

.score{
    border-radius: 10px;
    border: 1px #979797 solid;
    width: 312px;
    margin: 0 auto;
    color: black;
    background-color: #ffffff;
    height: 57px;
    padding-left: 19px;
    font-size: 16px;
    font-weight: bold;
}

.invalid-score{
    color:#EA251A;
    float: left;
    width: 100%;
    text-align: center;
    font-size: 16px;
    font-weight: 100;
}

.invalid-comp{
    color:#EA251A;
    float: left;
    width: 100%;
    text-align: center;
    font-size: 16px;
    font-weight: 100;
    position: absolute;
}

.invalid{
    color:#FF611D;
    float: left;
    width: 100%;
    text-align: center;
    font-size: 14px;
}

.success-container{
    
    height: 320px;
    margin-top: 140px;
}

.sucess-container{
    float: left;
    width: 100%;
    text-align: center;
    height: 100vh;
}

.success{
    background: url('../components/assets/success.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 320px;
    margin-top: 140px;
}

.label-success-container{
    font-size: 24px;
    color: #BE0000;
    padding-top: 53px;
    font-weight: 300;
}

.label-score{
    color: white;
    font-size: 25px;
    text-align: center;
    width: 100%;
    margin-top: 5px;
    transition-duration: 500ms;
    transition-property: margin-bottom;
}

.label-competition{
    color: #666666;
    font-size: 24px;
    font-weight: bold;
    font-family: helvetica;
}

.scorelabel{
    color: #666666;
    font-size: 24px;
    padding-top: 34px;
    font-weight: bold;
}

.centre-labels{
    width: 100%;
    font-size: 25px;
    text-align: center;
    font-weight: lighter;
    padding-top: 64px;
}

@media screen and (min-width: 633px){
    .centre-labels{
        padding-top: 128px;
    }
}

.photo-top-label{
    padding-top: 62px;
    margin-bottom: 20px;
    color: #000000;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
}

.no-padding{
    padding:0;  
}

.competition-item-container{
    text-align: center;
}

.submit-container{
    bottom: 177px;
    margin: 0 auto;
    text-align: center;
    width: 312px;
    display: flex;
    padding-top: 35px;
}

.retake{
    height: 42px;
    border-radius: 22px;
    box-shadow: -1px 5px 7px 1px rgba(0,0,0,0.15);
}

.submit-button-elements{
    float: left;
    height: 20px;
    width: 50%;
    position: relative;
}

.submit-button-elements2{
    width: 312px;
}

.icon-push-down{
    position: fixed;
    bottom: 70px;
    left: 0;
    margin-left:10%;
    margin-right:10%;
    width: 100%;
}

.icon-push-down.no-margin{
    margin:0;
}

.submit-button-elements.third{
    width:33%;
}

.submit-button-elements.second{
    width: 33%;
    text-align: -webkit-center;
}

.video-container{
    width:310px;
    height:310px;
    margin:0 auto;
    padding-top: 53px;
}

.image-view{
    display: block;
    position: relative;
    margin: 0 auto;
    border-radius: 50%;
    -o-object-fit: cover;
    object-fit: cover;
    border: 5px solid #e11e2b;
    text-align: center;
}

.image-view.background{
    width: 310px;
    height: 310px;
}

.image-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

hr{
    display:none;
}

.button-hover:hover{
    cursor: pointer;
}

.score-capture-black{
    height: 30px;
    margin-top: 0px;
    box-shadow: -1px 5px 7px 1px rgba(0,0,0,0.15);
}

.position-relative{
    position: relative;
}

.labelIcon{
    color: #6F839E;
    width: 60%;
    margin-top: 13px;
    bottom: 0;
    text-align: center;
    left: 0;
    font-size: 12px;
    font-family: 'helvetica';
    font-weight: 100;
}

.labelIcon2{
    color: white;
    width: 100%;
    bottom: 0;
    text-align: center;
    left: 0;
    font-size: 12px;
    font-family: 'helvetica';
    padding-left: 38%;
    padding-top: 13px;
}

.btnScoreCapture{
    height: 30px;
}

.button-that-submits{
    height: 42px;
    width: 140px;
    border-radius: 22px;
    box-shadow: -1px 5px 7px 1px rgba(0,0,0,0.15);
    float: right;
    margin-right: 2%;
}
.fade-out{
    max-height: 0;
    margin: 0;
    padding: 0;
    border: none;
}

.button-that-submits2{
    height: 42px;
    width: 72px;
    border-radius: 22px;
    box-shadow: -1px 5px 7px 1px rgba(0,0,0,0.15);
}

.flash{
    height: 42px;
    width: 72px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url("../components/assets/redFlashOn.png");
    border-radius: 22px;
    box-shadow: -1px 5px 7px 1px rgba(0,0,0,0.15);
}

.gun-overlay-image{
    margin-top: 4px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 11px 0px;
    background-image: url("../components/assets/gunOverlay.png");
    width: 100%;
    height: 63px;
}

.flashOff{
    height: 42px;
    width: 72px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url("../components/assets/redFlashOff.png");
    border-radius: 22px;
    box-shadow: -1px 5px 7px 1px rgba(0,0,0,0.15);
}

.label-container{
    text-align: center;
    padding-bottom: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

.active{
    background-color: #BE0000;
    color: white;
    border: none;
}

.competiton-cancel-button{
    background: url('../components/assets/whiteCancel.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 28px;
    width: 28px;
    margin-top: -25px;
}

.btn-back{
    float: left;
    height: 30px;
    left: 30px;
    position: absolute;
    top: 18px;
}

.spacing{
    padding-top: 47%;
    width: 100%;
    padding-right: 73%;
}

.white-border{
    height: 5px;
    width: 100%;
    background-color: white;
}

@media screen and (max-width:425px)  {
    .hidden-small{
        display:none;
    }
}

.score-capture-header2{
    height: 67px;
    width: 100%;
    background-image: linear-gradient(to right, #ef3024 , #Dc0600);
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: 0px 10px 16px -6px rgba(0,0,0,0.33);
    position: fixed;
    top: 0px;
    z-index: 100;
}

.score-capture-header{
    height: 67px;
    width: 100%;
    background-image: linear-gradient(to right, #ef3024 , #Dc0600);
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: 0px 10px 16px -6px rgba(0,0,0,0.33);
    position: fixed;
    top: 0px;
    z-index: 100;
}

.label-for-score{
    font-size: 22px;
    color: #fdfdfd;
    font-weight: bold;
    padding-top: 13px;
    padding-left: 24px;
}

.float-left{
    float: left;
}

.score-capture{
    width: 43px;
    height: 34px;
}

.label-for-capture-score{
    color: #ffffff;
    padding-top: 14px;
    font-weight: 600;
}

.border-radius-button{
    width: 72px;
    margin-left: 22px;
}
