.userDetails-container {
  padding-top: 60px;
}
.userDetails-heading-container {
  text-align: center;
  font-family: Helvetica;
  padding-top: 24px;
  font-size: 14px;
  color: #666666;
}

userplaceholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #979799;
  opacity: 1; /* Firefox */
}

.userDetails-member-label {
  text-align: center;
  padding-top: 26px;
  color: #be0000;
  font-family: Helvetica;
  font-size: 14px;
}

.userDetails-main-container {
  background-color: white;
  text-align: center;
  width: 100%;
  height: 100%;
  position: fixed;
  overflow: auto;
  justify-content: center;
  align-content: center;
}

.userDetails-input-container {
  margin-top: 24px;
  border-radius: 4px;
  width: 312px;
  height: 56px;
  font-size: 18px;
  background-color: #ffffff;
  border: 1px #666666 solid;
  padding-left: 16px;
  color: #666666;
  font-weight: bolder;
}

.userDetails-button-container {
  font-weight: lighter;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: 1px;
  line-height: 15px;
  border: 1px solid #be0000;
  border-radius: 40px;
  background: #be0000;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 312px;
  height: 42px;
}

.userDetails-button-contain {
  text-align: center;
  width: 100%;
  justify-content: center;
  position: fixed;
  bottom: 70px;
}
