.user-details-container {
  padding-top: 60px;
  margin-top: 70px;
}

.user-details-scrolls {
  padding-bottom: 150px;
}
.user-details-heading-container {
  text-align: center;
  font-family: Helvetica;
  font-size: 14px;
  color: #555555;
  font-weight: normal;
}
.user-details-member-number {
  padding-top: 0;
}

.member-details-container {
  text-align: center;
  margin-top: 15px;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  min-height: 36px;
  margin-bottom: 20px;
  background-color: #d9d9d9;
}

.user-details-member-name {
  padding-top: 5px;
  padding-bottom: 5px;
}

.user-details-member-label {
  color: #555555;
  font-family: Helvetica;
  font-size: 14px;
  padding-left: 5px;
}

.user-details-Errors {
  color: #be0000;
  font-family: Helvetica;
  font-size: 14px;
  padding-left: 5px;
}
.user-details-main-container {
  background-color: white;
  text-align: center;
  width: 100%;
  height: 100%;
  position: fixed;
  overflow: auto;
  justify-content: center;
  align-content: center;
}

.user-details-input-container {
  margin-top: 5px;
  border-radius: 4px;
  width: 85%;
  height: 56px;
  max-width: 321px;
  font-size: 18px;
  background-color: #ffffff;
  border: 1px #666666 solid;
  padding-left: 16px;
  color: #666666;
  font-weight: bolder;
}

.user-details-button-container {
  font-weight: lighter;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: 1px;
  line-height: 15px;
  border: 1px solid #be0000;
  border-radius: 40px;
  background: #be0000;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 312px;
  height: 42px;
}

.user-details-button-container-active {
  font-weight: lighter;
  font-size: 16px;
  color: #be0000;
  letter-spacing: 1px;
  line-height: 15px;
  border: 1px solid #be0000;
  border-radius: 40px;
  background: #ffffff;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 312px;
  height: 42px;
}

.user-details-button-contain {
  text-align: center;
  width: 100%;
  margin-top: 24px;
  justify-content: center;
  bottom: 70px;
}
