.Top-bar {
  display: flex;
  background: #cccfd3;
  color: white;
  height: 50px;
}

.The-name {
  margin-left: auto;
  margin-right: auto;
}

.btn-sm {
  float: right;
  margin-right: 15px;
  margin-top: 20px;
  width: 10px;
  margin-left: 80%;
}

.list-group {
  display: flex;
}

.check {
  color: #101727;
  display: flex;
}

.boxes {
  float: right;
  margin-top: 20px;
}
.blabe{
    font-Size:"16px";
    color: #fdfdfd;
}
.c{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.delete{
  float: left;
}

.theone{
  width: 100%;
  font-weight: lighter;
  font-size: 18px;
  color: #fdfdfd;
}
.theList{
  display: flex;
  font-weight: lighter;
  color:white;
  font-size: 18px;
}
.groupNames{
  font-size: 18px;
  font-weight: lighter;
}