@media screen and (max-width:350px)  {
	.export-col-container{
		padding-left: 0px;
		padding-right: 0px;
		text-align: center !important;
	}
}


.centre-view-member {
	margin: 0 auto;
	position: center;
	background: #ffffff;
}

.loader-container-members {
	padding-top: 12px;
	height: fit-content;
}

.loading-message-members {
	color: #be0000;
	margin: 0 auto;
	text-align: center;
	font-size: 14px;
	padding-top: 10px;
	position: relative;
	bottom: 60px;
	font-weight: 300;
	font-family: helvetica;
}

.search-member-name {
	background-color: #fdfdfd;
}

.table-search-members {
	z-index: 1;
	overflow-y: overlay;
	padding-top: 12px;
}
.username-search {
	position: relative;
    box-shadow: 0px 11px 6px -7px rgba(0, 0, 0, 0.51);
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    height: 73px;
}
.search {
	display: flex;
	padding: 14px;
	text-align: left;
	margin-left: 5px;
}
@media only screen and (min-width: 575px) {
	.username-search {
		text-align: center;
		width: 100%;
		box-shadow: 0px 11px 6px -7px rgba(0, 0, 0, 0.51);
		border-bottom-left-radius: 6px;
		border-bottom-right-radius: 6px;
	}
	.table-search-members {
		padding: 3% 5% 0% 5%;
		overflow-y: scroll;
	}
}
@media only screen and (min-width: 700px) {
	.user-value {
		margin-left: 15%;
	}
	.export-container {
		margin-right: 15%;
	}
}
@media only screen and (max-width: 575px) {
	.table-search-members {
		overflow-y: scroll;
		color: #666666;
		padding-bottom: 70px;
		padding-top: 12px;
	}

	.centre-view-member {
		margin: 0 auto;
		position: center;
		background: #ffffff;
	}
}

.page-name-view {
	position: center;
	text-align: center;
	text-size-adjust: 25px;
	background-size: 15px;
	height: 56px;
	background-color: #dc0600;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}

.go-back-to-create-page {
	float: left;
	padding-top: 10px;
	padding-left: 40px;
	background-size: 15px;
	height: 40px;
	margin-top: 3px;
}

.label-search {
	position: center;
	text-align: center;
	color: #fdfdfd;
}
.user-value {
	background-color: #f3f4f9;
	border-radius: 4px;
	line-height: 22px;
	text-align: left;
	padding-left: 19px;
	width: 100%;
	border: none;
	font-family: helvetica;
	font-size: 16px;
	font-weight: bold;
	color: #666666;
	border: 1px #979797 solid;
}

.view-non-members-text-boxes {
	background-color: #fdfdfd;
	border-radius: 4px;
	line-height: 22px;
	text-align: left;
	padding-left: 19px;
	width: 100%;
	border: none;
	font-family: helvetica;
	font-size: 16px;
	font-weight: bold;
	color: #666666;
	border: 1px #979797 solid;
	height: 44px;
	width: 312px;
	border-radius: 7px;
	align-self: center;
}
.view-expiring-members-text-boxes {
	background-color: #fdfdfd;
	border-radius: 4px;
	line-height: 22px;
	align-self: center;
	padding-left: 19px;
	width: 100%;
	border: none;
	font-family: helvetica;
	font-size: 16px;
	font-weight: bold;
	color: #666666;
	border: 1px #979797 solid;
	height: 44px;
	width: 312px;
	border-radius: 7px;
	margin-top: 50px;
	margin-bottom: 7px;
}

.view-non-members-confirm {
	font-weight: lighter;
	font-size: 16px;
	background-color: #be0000;
	border-radius: 25px;
	width: 312px;
	height: 42px;
	border-color: #be0000;
	border-width: 1.5px;
	border: none;
	color: #ffffff;
}
.view-non-members-confirm-inactive {
	font-weight: lighter;
	font-size: 16px;
	width: 312px;
	height: 42px;
	color: #ffffff;
	border: 1px solid #d9d9d9;
	border-radius: 22px;
	background: transparent;
	color: #d9d9d9;
}

.view-non-members-confirm:focus {
	outline: none;
}
.view-exp-members:focus {
	outline: none;
}

.view-exp-members {
	font-weight: lighter;
	font-size: 16px;
	background-color: #be0000;
	border-radius: 25px;
	width: 312px;
	height: 42px;
	border-color: #be0000;
	border-width: 1.5px;
	border: none;
	color: #ffffff;
	margin-top: 20px;
	margin-bottom: 25px;
}
.view-exp-members-inactive {
	font-weight: lighter;
	font-size: 16px;
	border-radius: 25px;
	width: 312px;
	height: 42px;
	border-width: 1.5px;
	margin-top: 20px;
	margin-bottom: 25px;
	border: 1px solid #d9d9d9;
	background: transparent;
	color: #d9d9d9;
}
.view-exp-members-inactive:focus {
	outline: none;
}

.view-exp-members::selection {
	background-color: #ffffff;
	border-radius: 25px;
	border-color: #be0000;
	border-width: 1.5px;
	color: #be0000;
}

.search {
	padding-bottom: 14px;
	background-color: #ffffff;
	height: 60px;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
}

.user-value {
	background: url("../components/assets/newSearchIconRed.png") no-repeat right center;
	background-color: #fdfdfd;
	background-size: 22px;
	height: 44px;
	background-position-x: 95%;
	border-radius: 7px;
	width: 275px;
}

.go-back-to-create-page-from-view-members {
	float: left;
	padding-top: 10px;
	padding-left: 40px;
	background-size: 15px;
	height: 40px;
}

.table-member {
	width: 100%;
	color: #666666;
}

.view-members {
	size: 49px;
	padding-top: 11px;
	font-weight: bold;
	font-size: 20px;
	color: #fdfdfd;
	padding-right: 52px;
}

.view-members-user {
	height: 55px;
}

.view-members-user::selection {
	background-color: #fdfdfd;
}

.view-members-user:hover {
	background-color: #fdfdfd;
}

.first-column {
	width: 65%;
	height: 55px;
	text-align: left;
}

.username-and-email {
	font-family: helvetica;
	font-size: 16px;
	height: 55px;
	padding-left: 20px;
	cursor: pointer;
}

.view-members-exp-username-and-email {
	font-size: 16px;
	height: 55px;
	float: left;
}

.bad {
	color: #be0000;
}

.view-exp-bad {
	color: #be0000;
	font-weight: bold;
}

.second-column {
	vertical-align: top;
	height: 55px;
}

.expiry-time-column {
	float: right;
	font-size: 14px;
	height: 55px;
	padding-right: 23px;
}

.view-members-exp-expiry-time-column {
	font-family: helvetica;
	font-size: 14px;
	height: 55px;
	padding-right: 23px;
	float: right;
}

.membership-details {
	font-size: 13px;
	margin-top: 10px;
	margin-bottom: 20px;
	text-align: center;
}

.view-members-exp-membership-details {
	font-size: 13px;
	margin-top: 48px;
	margin-bottom: 20px;
	text-align: center;
	float: left;
}

.Collapsible__contentOuter {
	float: left;
	width: 100%;
}

.radio-Renew {
	padding-right: 3px;
	display: flex;
}

.view-members-membership-details {
	font-family: helvetica;
	font-size: 14px;
	margin-bottom: 20px;
	padding-left: 25px;
}

.membership-icon {
	height: 17px;
	width: 17px;
	margin-left: 4px;
}

.view-non-members-email {
	font-size: 12px;
    color: #666666;
    font-weight: 300;
}

.view-non-members-arrow {
	width: 10%;
	float: right;
	padding-right: 43px;
	padding-top: 5px;
}

.view-non-members-image {
	width: 24px;
	height: 12px;
}

.view-non-members-users-email {
	width: 70%;
	float: left;
}

.view-members-icon {
	float: left;
	width: 17px;
	height: 17px;
	padding-top: 10px;
	padding-left: 35px;
}

.view-members-username {
	float: left;
}

.view-members-username-email {
	width: 45%;
	float: left;
}

.view-exp-members-email {
	font-size: 14px;
}

.view-exp-members-icon {
	float: left;
	width: 17px;
	height: 17px;
	padding-top: 10px;
	padding-left: 35px;
}
.view-non-error-msg {
	font-size: 16px;
	font-weight: lighter;
	color: #be0000;
	border-radius: 5px;
}
.view-non-error-container {
	width: 312px;
	height: 77px;
	border: 1px solid #be0000;
	margin: auto;
	text-align: center;
	padding-top: 20.5px;
	margin-top: 56px;
}
.view-member-phone-number {
	color: #666666;
}

@media all and (min-width: 576px){
	.export-icon {
		height: 28px;
		width: 28px;
		cursor: pointer;
		margin-top: 10px;
   	    margin-right: 17px;
	}
}

@media all and (max-width: 575px){
	.export-icon {
		height: 28px;
		width: 28px;
		cursor: pointer;
		margin-top: 65px;
	}
}

.export-button-css{
	color: #FAFAFAFA;
    background-color: #be0000;
    border-radius: 22px;
    width: 274px;
    height: 42px;
    margin-top: 20px;
    margin-left: 29px;
	border: #be0000;
	font-size: 16px;
}

@media screen and (min-width: 567px){
	.export-col-container{
		bottom: -20px !important;
	}
}

.export-col-container {
	position: relative;
	right: 19px;
	bottom: 37px;
	text-align: right
}
.exportMsg-responce {
	color: #be0000;
	font-size: 16px;
	font-weight: lighter;
	padding-top: 17px;
}
.exportMsg-container {
	width: 339px;
	height: 78px;
	border: 1px solid #be0000;
	border-radius: 10px;
	margin: auto;
	margin-top: 52px;
	text-align: center;
}
.export-success {
	width: 66px;
	height: 16px;
}
.non-member-same-member-number-error {
	font-size: 12.12px;
	color: #be0000;
	margin: auto;
	font-weight: lighter;
}
.membership-container {
	height: 86px;
	display: flex;
    flex-direction: column;
}
.view-non-members-date-box {
	margin-bottom: 7px;
	align-self: center;
	background-color: #fdfdfd;
	border-radius: 4px;
	line-height: 22px;
	text-align: left;
	padding-left: 19px;
	width: 100%;
	border: none;
	font-family: helvetica;
	font-size: 16px;
	font-weight: bold;
	color: #666666;
	border: 1px #979797 solid;
	height: 44px;
	width: 312px;
	border-radius: 7px;
}
.non-member-renew-date-container {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.renew-container {
	text-align: center;
	margin: auto;
	width: 312px;
	margin-top: 50px;
}
.non-member-renew-error-msg {
	color: #be0000;
	font-size: 14px;
	display: flex;
	justify-content: center;
	font-weight: lighter;
}
.confirm-button-container {
	display: flex;
	justify-content: center;
	margin-top: 58px;
	margin-bottom: 50px;
}
.confriming-btn {
	background: url("./GroupImages/selectedIcon.png") no-repeat !important;
	background-position-y: 7px !important;
    background-position-x: 270px !important;
    background-size: 25px !important;
	width: 312px;
	height: 42px;
	border-radius: 22px;
	font-size: 16px;
	font-weight: lighter;
	color: #be0000;
	background: transparent;
	display: flex;
	justify-content: center;
	border: 1.5px solid #be0000;
}

.non-member-Date-error-msg {
	color: #be0000;
	font-size: 14px;
	font-weight: lighter;
	align-self: center;
}

.date-error-msg-cpntainer {
	display: flex;
	flex-direction: column;
	height: 90px;
}
.user-is-a-member-msg-container {
	display: flex;
	justify-content: center;
	margin-top: 50px;
}

.user-is-a-member-msg {
	background: url("./GroupImages/selectedIcon.png") no-repeat !important;
	background-position-y: 7px !important;
    background-position-x: 270px !important;
    background-size: 25px !important;
	width: 312px;
	height: 42px;
	border-radius: 22px;
	font-size: 16px;
	font-weight: lighter;
	color: #be0000;
	background: transparent;
	display: flex;
	justify-content: center;
	border: 1.5px solid #be0000;
	padding-top: 9px;
}
