.centre-view-member {
  margin: 0 auto;
  margin-top: 30px;
  position: center;
  background: #ffffff;
}

.search-member-name {
  background-color: #fdfdfd;
}

.table-search-members {
  background-color: #f6f6f6;
   z-index: 1;
    overflow-y: overlay;
    padding-top: 12px;
}
.username-search{
  position: relative;
  padding-bottom: 14px;
  box-shadow: 0px 11px 6px -7px rgba(0,0,0,0.51);
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
.search{
  padding: 14px;
  text-align: center;
}
@media only screen and (min-width: 575px){
  .username-search {
    text-align: center;
    width: 100%;
    box-shadow: 0px 11px 6px -7px rgba(0,0,0,0.51);
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
  }
  .table-search-members {
    padding-top: 0px;
    padding: 0 10% 0 10%;
    background-color:  #f6f6f6;
    overflow-y: scroll;
  }
}
@media only screen and (max-width: 575px) {
  .table-search-members {
    background-color: #f6f6f6;
    overflow-y: scroll;
    color: #666666;
    padding-bottom: 70px;
  }

  .centre-view-member {
    margin: 0 auto;
    position: center;
    background: #ffffff;
  }
}

.page-name-view {
  position: center;
  text-align: center;
  text-size-adjust: 25px;
  background-size: 15px;
  height: 56px;
  background-color: #dc0600;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.go-back-to-create-page {
  float: left;
  padding-top: 10px;
  padding-left: 40px;
  background-size: 15px;
  height: 40px;
  margin-top: 3px;
}

.label-search {
  position: center;
  text-align: center;
  color: #fdfdfd;
}
.user-value {
  background-color: #f3f4f9;
  border-radius: 4px;
  line-height: 22px;
  text-align: left;
  padding-left: 19px;
  width: 100%;
  border: none;
  font-family: helvetica;
  font-size: 16px;
  font-weight: bold;
  color: #666666;
  border: 1px #979797 solid;
}

.view-non-members-text-boxes {
  background-color: #fdfdfd;
  border-radius: 4px;
  line-height: 22px;
  text-align: left;
  padding-left: 19px;
  width: 100%;
  border: none;
  font-family: helvetica;
  font-size: 16px;
  font-weight: bold;
  color: #666666;
  border: 1px #979797 solid;
  height: 44px;
  width: 312px;
  border-radius: 7px;
  margin-bottom: 42px;
}

.view-non-members-confirm {
  font-weight: lighter;
  font-size: 16px;
  background-color: #be0000;
  border-radius: 25px;
  width: 312px;
  height: 42px;
  border-color: #be0000;
  border-width: 1.5px;
  border: none;
  color: #ffffff;
}

.view-exp-members {
  font-weight: lighter;
  font-size: 16px;
  background-color: #be0000;
  border-radius: 25px;
  width: 160px;
  height: 42px;
  border-color: #be0000;
  border-width: 1.5px;
  border: none;
  color: #ffffff;
  margin-top: 20px;
  margin-bottom: 25px;
}

.search {
  padding-bottom: 14px;
  background-color: #ffffff;
  height: 60px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.user-value {
  background: url("../components/GroupImages/searchBox.png") no-repeat right
    center;
  background-color: #fdfdfd;
  background-size: 22px;
  height: 44px;
  background-position-x: 95%;
  border-radius: 7px;
  width: 312px;
}

.go-back-to-create-page-from-view-members {
  float: left;
  padding-top: 10px;
  padding-left: 40px;
  background-size: 15px;
  height: 40px;
}

.table-member {
  background-color: #f6f6f6;
  width: 100%;
  color: #666666;
}

.view-members {
  size: 49px;
  padding-top: 11px;
  font-weight: bold;
  font-size: 20px;
  color: #fdfdfd;
  padding-right: 52px;
}

.view-members-user {
  height: 55px;
}

.view-members-user::selection {
  background-color: #fdfdfd;
}

.view-members-user:hover {
  background-color: #fdfdfd;
}

.first-column {
  padding-left: 25px;
  width: 65%;
  height: 55px;
  text-align: left;
}

.username-and-email {
  font-family: helvetica;
  font-size: 16px;
  height: 55px;
}

.view-members-exp-username-and-email {
  font-size: 16px;
  height: 55px;
  float: left;
}

.bad {
  color: #be0000;
}

.view-exp-bad {
  color: #be0000;
  font-weight: bold;
}

.second-column {
  vertical-align: top;
  height: 55px;
}

.expiry-time-column {
  float: right;
  font-size: 12px;
  height: 55px;
  padding-right: 23px;
}

.view-members-exp-expiry-time-column {
  font-family: helvetica;
  font-size: 15px;
  height: 55px;
  padding-right: 23px;
  float: right;
}

.membership-details {
  font-size: 13px;
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
  padding-right: 25px;
}

.view-members-exp-membership-details {
  font-size: 13px;
  margin-top: 48px;
  margin-bottom: 20px;
  text-align: center;
  float: left;
}

.Collapsible__contentOuter {
  float: left;
  width: 100%;
}

.radio-Renew {
  padding-right: 3px;
  display: flex;
}

.view-members-membership-details {
  font-family: helvetica;
  font-size: 14px;
  margin-bottom: 20px;
}

.membership-icon {
  height: 17px;
  width: 17px;
  margin-left: 4px;
}

.renew-container {
  text-align: center;
  width: 100%;
  padding-right: 25px;
}

.view-non-members-email {
  font-size: 14px;
}

.view-non-members-arrow {
  width: 10%;
  float: right;
  padding-right: 43px;
  padding-top: 5px;
}

.view-non-members-image {
  width: 24px;
  height: 12px;
}

.view-non-members-users-email {
  width: 70%;
  float: left;
}

.view-members-icon {
  float: left;
  width: 17px;
  height: 17px;
  padding-top: 10px;
  padding-left: 35px;
}

.view-members-username {
  float: left;
}

.view-members-username-email {
  width: 45%;
  float: left;
}
