@media all and (min-width: 480px) {
    .viewmember {
      margin: 0 auto;
    }
    .viewmember form {
      margin: 0 auto;
    }
  }

  .centre-view-member{
    margin:0 auto;
    position: center;
    background: #fdfdfd;
  }

  .search-member-name{
    background-color: #fdfdfd;
  }

  .table-search-members{
    background-color: #fdfdfd;
  }

  .page-name-view{
    position: center;
    text-align: center;
    text-size-adjust: 25px;
    background-size: 15px;
    height: 56px;
    background-color: #DC0600;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  .go-back-to-create-page{
    float: left;
    padding-top: 10px;
    padding-left: 40px;
    background-size: 15px;
    height: 40px;
    margin-top: 3px;
  }

  .label-search{
    position: center;
    text-align: center;
    color: #fdfdfd;
  }

  .username-search{
    position: center;
    text-align: center;
  }

  .userValue {
    background-color: #F3F4F9;
    border-radius: 4px;
    line-height: 22px;
    text-align: center;
    width: 100%;
    border: none;
    font-size: 18px;
    color: #798CA5;
    border: 1.5px #798CA5 solid;
  }

  .search {
    padding: 18px 30px 10px 30px;
    background-color: #fdfdfd;
    height: 74px;
  }

  .userValue{
    background: url('../components/assets/search-red.png') no-repeat right center;
    background-color: #F3F4F9;
    background-size: 22px;
    height: 40px;
    background-position-x: 95%;
    border-radius: 7px;
    width: 300px;
  }

  .go-back-to-create-page-from-view-members{
    float: left;
    padding-top: 10px;
    padding-left: 40px;
    background-size: 15px;
    height: 40px;
  }

  .table-member{
    background-color: #fdfdfd;
    width: 100%;
    font-size: 16px;
    color: #798CA5;
  }

  .view-members{
    size: 49px;
    padding-top: 11px;
    font-weight: bold;
    font-size: 20px;
    color: #fdfdfd;
    padding-right: 52px;
  }

  .view-members-user{
    border-bottom: solid 1.5px #bbbcbd;
    border-top: solid 1.5px #bbbcbd;
    height: 55px;
  }

  .view-members-user::selection{
    background-color: #6F839E;
    color:#fdfdfd;
  }

  .view-members-user:hover{
    background-color: #6F839E;
    color:#fdfdfd;
  }

  .first-column{
    padding-left: 30px;
    width: 65%;
    height: 55px;
  }

  .username-and-email{
    font-size: 16px;
    height: 55px;
  }

  .bad{
    color: red;
    font-weight: bold;
  }

  .second-column{
    vertical-align: top;
    height: 55px;
  }
  
  .expiry-time-column{
    font-size: 15px;
    height: 55px;
    padding-left: 20px;
  }

  .membership-details{
    font-size: 13px;
    height: 55px;
  }

  .membership-icon{
    height: 17px;
    width: 17px;
    margin-left: 4px;
  }
