@import './scss/navbar.css';
@media all and (min-width: 480px) {
  .Login {
    padding: 60px 0;
  }
  .Login form {
    margin: 0 auto;
    max-width: 320px;
  }
}

.App div .navbar{
  width: 100;
  margin: 0% !important;
}
.test {
  width: 50%;
}

.centre-comp {
  width: 94%;
  margin: 0 auto;
  position: center;
  left: 3%;
  top: 15%;
  border: 1px solid rgba(0, 0, 0, 0.35);
  padding: 20px;
  background-color: white;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.24);
}
@media screen and (min-width: 768px) {
  .centre-login {
    width: 50%;
    left: 25%;
    top: 25%;
  }
}
input.invalid {
  border: 1px solid red;
}
.invalid-message {
  color: red;
  font-size: 12px;
}
.button {
  border-radius: 30px;
  width: 125px;
  height: 35px;
}

button.button-invalid {
  background-color: #e0e1e2;
  border: none;
}

button.button-valid {
  background-color: #545759;
  color: white;
}

.no-padding {
  padding: 0;
}
.fixed-top{
  position:relative !important;
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.button{
  outline: none;
}
