.comp-input {
	width: 218px;
    height: 39px;
    border-radius: 10px;
    border: 1px solid #6f839e;
    padding: 20px;
    -webkit-text-decoration-color: black;
    text-decoration-color: #6B6B6C;
    background-color: #f3f4f9;
    font-weight: normal;
    text-align: center;
	font-size: 18px;
    color: #6B6B6C;
}

.comp-submit-btn {
	background: #6f839e;
	width: 218px;
	height: 42px;
	border-radius: 25px;
	font-size: 16px;
	font-family: helvetica;
	font-weight: lighter;
	margin-top: 20px;
	color: white;
}

.inactive-comp-submit-btn {
	background-color: #fdfdfd;
	color: lightgray;
	cursor: default;
	border: 1px lightgray solid;
}

.inactive-comp-submit-btn:active {
	color: #ebebeb;
	cursor: default;
}

.comp-submit-btn-constainer {
	padding: 20px;
	margin: 20px;
}

.comp-label-container {
	color: #6f839e;
	font-size: 16px;
	margin-bottom: 20px;
	padding: 10px;
	margin: 10px;
	font-weight: bold;
	align-content: center;
	font-family: helvetica;
}

.create-comp-container {
	margin: 20px;
	padding: 20px;
	text-align: center;
}

@media all and (min-width: 480px) {
	.collapse-css-transition {
		transition: height 300ms cubic-bezier(0.4, 0, 0.2, 1);
		overflow: hidden;
	}

	.Login form {
		margin: 0 auto;
		max-width: 320px;
	}
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
	float: left;
}

input.invalid {
	border: 1px solid red;
}
.invalid-message {
	color: red;
	font-size: 12px;
}
.button {
	border-radius: 30px;
	width: 125px;
	height: 35px;
}

button.button-invalid{
  background-color: #e0e1e2;
  border: none;

}

button.button-valid {
	background-color: #545759;
	color: white;
}

.no-padding {
	padding: 0;
}
