.comp-input{
  width: 218px;
  height: 39px;
  border-radius: 5px;
  border: none;
  padding: 20px;
}

.comp-submit-btn{
  background: #bbbcbd;
  width: 218px;
  height: 42px;
  border-color: #e11e2b;
  border-radius: 25px;
  font-size: 16px;
  font: helvetica;
  font-weight: lighter;
  margin-top: 20px;
  color: white;
}

.comp-submit-btn-constainer{
      padding: 20px;
  margin: 20px;
}

.comp-label-container{
  color: #fbfbfb;
  font-size: 16px;
  margin-bottom: 20px;
  padding: 10px;
  margin: 10px;
  font-weight: lighter; 
}
.create-comp-container{
  margin: 20px;
  padding: 20px;
  text-align: center;

}

@media all and (min-width: 480px) {
  .collapse-css-transition {
    transition: height 300ms cubic-bezier(0.4, 0, 0.2, 1);
    overflow: hidden;
  }  

  .Login form {
    margin: 0 auto;
    max-width: 320px;
  }
}

.col-1,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-10,.col-11,.col-12{
  float:left;

}

.centre-comp{
  width:94%;
  margin:0 auto;
  position: center;
  left: 3%;
  top: 15%;
  border: 1px solid rgba(0,0,0,0.35);
  padding: 20px;
  background-color: white;
  box-shadow: 2px 2px rgba(0,0,0,0.24);
}


input.invalid{
  border:1px solid red;
}
.invalid-message{
  color:red;
  font-size: 12px;
}
.button{
  border-radius: 30px ;
  width:125px;
  height:35px;

}

<<<<<<< HEAD
<<<<<<< HEAD

=======
>>>>>>> fd4f77b840f0486634c58dc0f42897e09aec09aa
=======
>>>>>>> 3a6b9347979f599a00cacaac6848ac0abc037081
button.button-invalid{
  background-color: #e0e1e2;
  border: none;
}

button.button-valid{
  background-color: #545759;
  color:white;
}

.no-padding{
  padding:0 ;
}