.comp-input {
	width: 80%;
	height: 56px;
	border-radius: 5px;
	border: 1px solid #979797;
	padding: 10px;
	margin-top: 10px;
	text-decoration-color: #666666;
	background-color: #FFFFFF;
	font-weight: bold;
	text-align: left;
	font-size: 18px;
	color: #666666;
	font-family: helvetica;
	font-style: normal;
}

.comp-submit-btn {
	background: #dc0600;
	width: 218px;
	height: 42px;
	border-radius: 25px;
	font-size: 16px;
	font-family: sans-serif, helvetica;
	font-weight: lighter;
	margin-top: 20px;
	color: white;
}

.comp-success-submit-btn {
	font-weight: lighter;
	margin-top: 10px;
	font-size: 16px;
	background-color: #be0000;
	border-radius: 25px;
	width: 312px;
	height: 42px;
	border-color: #be0000;
	border-width: 1.5px;
	border: none;
	color: #ffffff;
	box-shadow: 0px 8px 19px 0px #888;
}

.comp-not-success-submit-btn{
	font-weight: lighter;
    margin-top: 10px;
    font-size: 16px;
    background-color: transparent;
    border-radius: 25px;
    width: 312px;
    height: 42px;
    border-color: #c0c1c2;
    border-width: 1.5px;
    border: solid 1px #c0c1c2;
    color: #c0c1c2;
}

.inactive-comp-submit-btn {
	background-color: #fdfdfd;
	color: lightgray;
	cursor: default;
	border: 1px lightgray solid;
}

.inactive-comp-submit-btn:active {
	color: #ebebeb;
	cursor: default;
}

.comp-submit-btn-constainer {
	padding: 20px;
	margin: 20px;
}

.comp-label-container {
	color: #6f839e;
	font-size: 16px;
	margin-bottom: 20px;
	padding: 10px;
	margin: 10px;
	font-weight: bold;
	align-content: center;
	font-family: helvetica;
}

.error-comp-message {
	color: #dc0600;
	font-size: 12px;
}

.create-comp-container {
	text-align: center;
	padding-bottom: 61px;
	overflow-y: overlay;
	margin-top: 15px;
}
.containers-input{
	padding-top: 17px;
}
/** CSS for the requirements within the create page*/
.standards-row{
	border: solid 0.8px #BE0000;
    width: 96%;
    height: 32.8px;
    border-radius: 18px;
    text-align: center;
	margin: auto;
	background: #FFFFFF;

}
.total-standard-button{
	padding: inherit;
}
.accuracy-standard-button{
	padding: inherit;
	height: 100%;
}

.accuracy-standard-button-active{
	cursor: pointer;   
	padding: 5px;
    display: flex;
    width: 100%;
    justify-content: center;
    background: #BE0000;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 14px;
    border-top-right-radius: 18px;
    height: 100%;
	border-bottom-right-radius: 18px;
}
.accuracy-standard-button-inactive {
	cursor: pointer;
	display: flex;
    justify-content: center;
    width: 100%;
    font-weight: lighter;
    font-size: 14px;
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
    padding: 5px;
	color: #666666;   
    
}

.total-standard-button-active{
	cursor: pointer;
	padding: 5px;
    display: flex;
    width: 100%;
    justify-content: center;
    background: #BE0000;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 14px;
    border-top-left-radius: 18px;
    height: 100%;
	border-bottom-left-radius: 18px;
}
.total-standard-button-inactive{
	cursor: pointer;
	display: flex;
    justify-content: center;
    widows: 100%;
    font-weight: lighter;
    font-size: 14px;
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
    padding: 5px;
    color: #666666;
}

.total-standard-button{
	padding:0px;

}
.accuracy-standard-button{
	padding:0px;
}

.total-requirements-container{
	
    padding: 3px;
    width: 97%;
    margin-bottom: 10px;
	
}

.accuracy-requirements-container{
    padding: 3px;
	width: 97%;
	margin-bottom: 10px;
}
.bronze-standard-row{
	text-align: center;
    width: inherit;
    margin: 5px;
}
.silver-standard-row{
	text-align: center;
    width: inherit;
    margin: 5px;
}
.gold-standard-row{
		text-align: center;
		width: inherit;
		margin: 5px;
}

.bronze-header-label-col{    
	padding-top: 13px;
	padding-left: 0px;
	padding-right: 0px;
	text-align: left;
}

.silver-header-label-col{
	padding-top: 13px;
	padding-left: 0px;
	padding-right: 0px;
	text-align: left;
}
.silver-header-label-col{
	padding-top: 13px;
	padding-left: 0px;
	padding-right: 0px;
	text-align: left;
}

.accuracy-header-label {
	height: 100%;
    color: rgba(0,0,0,.6);
    font-family: Helvetica;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: .13px;
    line-height: 16px;
	padding: 0;
}
.bronze-total-input{
	width: 100%;
	height: 44px;
	border-radius: 5px;
	border: 1px solid #979797;
	padding: 10px;
	-webkit-text-decoration-color: #666666;
	text-decoration-color: #666666;
	background-color: #ffffff;
	font-weight: bold;
	text-align: left;
	font-size: 18px;
	color: #666666;
	font-family: helvetica;
	font-style: normal;
	text-align: center;
}
.silver-total-input {
	width: 100%;
	height: 44px;
	border-radius: 5px;
	border: 1px solid #979797;
	padding: 10px;
	-webkit-text-decoration-color: #666666;
	text-decoration-color: #666666;
	background-color: #ffffff;
	font-weight: bold;
	text-align: left;
	font-size: 18px;
	color: #666666;
	font-family: helvetica;
	font-style: normal;
	text-align: center;
}
.gold-total-input {
	width: 100%;
	height: 44px;
	border-radius: 5px;
	border: 1px solid #979797;
	padding: 10px;
	-webkit-text-decoration-color: #666666;
	text-decoration-color: #666666;
	background-color: #ffffff;
	font-weight: bold;
	text-align: left;
	font-size: 18px;
	color: #666666;
	font-family: helvetica;
	font-style: normal;
	text-align: center;
}
.bronze-accuracy-input{
	width: 100%;
	height: 44px;
	border-radius: 5px;
	border: 1px solid #979797;
	padding: 10px;
	-webkit-text-decoration-color: #666666;
	text-decoration-color: #666666;
	background-color: #ffffff;
	font-weight: bold;
	text-align: left;
	font-size: 18px;
	color: #666666;
	font-family: helvetica;
	font-style: normal;
	text-align: center;
}
.silver-accuracy-input{
	width: 100%;
	height: 44px;
	border-radius: 5px;
	border: 1px solid #979797;
	padding: 10px;
	-webkit-text-decoration-color: #666666;
	text-decoration-color: #666666;
	background-color: #ffffff;
	font-weight: bold;
	text-align: left;
	font-size: 18px;
	color: #666666;
	font-family: helvetica;
	font-style: normal;
	text-align: center;
}
.gold-accuracy-input{
	width: 100%;
	height: 44px;
	border-radius: 5px;
	border: 1px solid #979797;
	padding: 10px;
	-webkit-text-decoration-color: #666666;
	text-decoration-color: #666666;
	background-color: #ffffff;
	font-weight: bold;
	text-align: left;
	font-size: 18px;
	color: #666666;
	font-family: helvetica;
	font-style: normal;
	text-align: center;
}

.bronze-input-input-col{padding: 0px;}
.silver-input-input-col{padding: 0px;}
.gold-input-input-col{padding: 0px;}
.shoots-header-label-col{
	padding: 0px;
    text-align: left;
}

/** CSS for the letter of good standing UI*/
.good-standing-container{
    padding: 3px;
    width: 97%;
}

.letter-of-status-row{ 
	text-align: center;
	width: inherit;
	margin: 5px;
	height: 100%;
    display: flex;
    justify-content: space-evenly;
}

.shoots-row{
	text-align: center;
	width: inherit;
	margin: 5px;
}
.shoots-input-col{
	padding: 0px;
}
.number-of-shoots-input{
	width: 100%;
	height: 44px;
	border-radius: 5px;
	border: 1px solid #979797;
	padding: 10px;
	-webkit-text-decoration-color: #666666;
	text-decoration-color: #666666;
	background-color: #ffffff;
	font-weight: bold;
	text-align: left;
	font-size: 18px;
	color: #666666;
	font-family: helvetica;
	font-style: normal;
	text-align: center;
}

.shoots-needed-header-label{
	height: 100%;
    color: rgba(0,0,0,.6);
    font-family: Helvetica;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: .13px;
    line-height: 16px;
    padding: 0;
    padding-top: 15px;
}
.letter-label-col{
	padding: 0px;
	text-align: left;
	width: fit-content;
}
.letter-header-label{
	height: 100%;
    color: rgba(0,0,0,.6);
    font-family: Helvetica;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: .13px;
    line-height: 16px;
    padding: 0;
    padding-top: 15px;
}

.letter-image {
	width: 18px;
	height: 24px;
}

.letter-image-col{
	padding: 0px;
	padding-top: 14px;
	width: fit-content;
	margin: auto;
}
.switch-button-active{
	background: #6f839e;
	border-radius: 20px;
	color: #fdfdfd;
	justify-content: flex-end !important;
	width: 116px;
	height: 35px;
	font-weight: lighter;
	font-family: helvetica;
}
.switch-button-inactive{
	background-color: #fdfdfd;
	border-radius: 20px;
	justify-content: flex-end !important;
	border: 1px #6f839e solid;
	color: #6f839e;
	width: 116px;
	height: 35px;
	font-weight: lighter;
	font-family: helvetica;
	border-color: #6f839e;
}

.letter-button-col{
	padding: 0px;
    text-align: right;
	width: fit-content;
}
/**Here we place the code into the button containers
accuracy-standard-button {}
display: flex;
    justify-content: center;
    font-weight: lighter;
    font-size: 14px;
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
    padding: 5px;
    color: #666666;
 */

.requirements-collapse{
	margin: 5px;
    margin-top: 24px;
    height: 21px;
    width: 185px;
    color: #BE0000;
    font-family: Helvetica;
    font-size: 16px;
    font-weight: 300;
    line-height: 17px;
    text-align: center;
    display: inline-flex;
}
.requirements-label {
	margin-right: 3px;
	cursor: pointer;
}
.down-arrow {
	width: 12px;
	height: 12px;
	margin-bottom: 4px;
}
.requirements-content{
	margin: 10px;
    padding: 5px;
    border-radius: 10px;
    background: #F6F6F6;
}


@media all and (min-width: 480px) {
	.collapse-css-transition {
		transition: height 300ms cubic-bezier(0.4, 0, 0.2, 1);
		overflow: hidden;
	}

	.Login form {
		margin: 0 auto;
		max-width: 320px;
	}
}

input.invalid {
	border: 1px solid red;
}
.invalid-message {
	color: red;
	font-size: 12px;
}
.button {
	border-radius: 30px;
	width: 125px;
	height: 35px;
}

button.button-invalid {
	background-color: #e0e1e2;
	border: none;
}

button.button-valid {
	background-color: #545759;
	color: white;
}

.no-padding {
	padding: 0;
}

@media only screen and (min-width: 575px) {
	.create-comp-container{
		padding-top: 1px;
		margin-top: 21px;
	}
}
