.page-name-create-page{
    position: center;
    text-align: center;
    text-size-adjust: 25px;
    background-size: 15px;
    height: 56px;
    background-color: #DC0600;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.create-menu-header {
    color: #fdfdfd;
    font-size: 20px;
    font-weight: bolder;
    padding-top: 10px;
    text-align: center;
}

.create-page-container{
    background-image: url('../components/assets/gun-image.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.centre{
    height: 100vh;
}

.button-create-competitions{
    height: 42px;
    width: 150px;
    border-radius: 42px;
    background-color: #fdfdfd;
    border: none;
    font-size: 16px;
    font-family: helvetica;
    font-weight: 300;
    color: #6F839E;
    margin-top: 12px;
}

.button-create-members{
    height: 42px;
    width: 150px;
    border-radius: 42px;
    background-color: #fdfdfd;
    border: none;
    font-size: 16px;
    font-family: helvetica;
    font-weight: 300;
    color: #6F839E;
    margin-top: 12px;
}

.button-create-groups{
    height: 42px;
    width: 150px;
    border-radius: 42px;
    background-color: #fdfdfd;
    border: none;
    font-size: 16px;
    font-family: helvetica;
    font-weight: 300;
    color: #6F839E;
    margin-top: 12px;
}

.button-view-competitions{
    height: 42px;
    width: 81px;
    border-radius: 21px;
    border: 1px #fdfdfd solid;
    opacity: unset;
    color: #fdfdfd;
    background-color: transparent;
    font-size: 16px;
    font-family: helvetica;
    font-weight: 300;
    margin-top: 12px;
}

.button-view-members{
    height: 42px;
    width: 81px;
    border-radius: 21px;
    border: 1px #fdfdfd solid;
    opacity: unset;
    color: #fdfdfd;
    background-color: transparent;
    font-size: 16px;
    font-family: helvetica;
    font-weight: 300;
    margin-top: 12px;
}

.button-view-groups{
    height: 42px;
    width: 81px;
    border-radius: 21px;
    border: 1px #fdfdfd solid;
    opacity: unset;
    color: #fdfdfd;
    background-color: transparent;
    font-size: 16px;
    font-family: helvetica;
    font-weight: 300;
    margin-top: 12px;
}

.buttons-create{
    width: 50%;
    float: left;
    padding-top: 67px;
}

.buttons-view{
    width: 50%;
    float: right;
    padding-top: 67px;
}

.container-of-buttons{
    text-align: center;
}

.view-spacing{
    text-align: left;
    margin-left: 34px;
}

.create-spacing{
    text-align: right;
    margin-right: -15px;
}
