.activeButton button {
	background-color: #e11e2b;
    border-radius: 20px;
    border: none;
	color: black;
	width: 116px;
    height: 42px;
    font-weight: lighter;
}
.inactiveButton button {
	background-color: #504f51;
    border-radius: 20px;
    border: 1px #e11e2b solid;
    color: #fbfbfb;
    width: 116px;
    height: 42px;
    font-weight: lighter;
}
.view-header {
	position: center;
	text-align: center;
	text-size-adjust: 25px;
	background-size: 15px;
	height: 49px;
	background-color: #0c0c0c;
}
.go-back-to-create-page {
	float: left;
	padding-top: 10px;
	padding-left: 10px;
	background-size: 15px;
	height: 40px;
}
.label-create-competitions {
	size: 49px;
	padding-top: 7px;
	font-weight: bolder;
	font-size: 26px;
	color: #fdfdfd;
	font-family: helvetica;
}
.competition-containers {
	margin-bottom: .5rem;
    font-size: helvetica;
    font-weight: lighter;
    line-height: 1.2;
    font-size: 18px;
    color: #fbfbfb;
}
.table-view-competitions {
	background-color: #504f51;
	width: 80%;
	font-size: 16px;
	margin-left: 10%;
}
.table-competition-container {
	position: center ;
	text-align: center t;
}
.table-competition-row {
	border-bottom: solid 1px #bbbcbd;
	padding-bottom: 1px ;
	padding-top: 10px ;
}
.page-contents{
	background-color: #504f51;
}
