.activeButton button {
	background: #6F839E;
    border-radius: 20px;
    color: #fdfdfd;
    width: 116px;
    height: 35px;
    font-weight: lighter;
	font-family: helvetica;	
}

.inactiveButton button {
	background-color: #fdfdfd;
    border-radius: 20px;
    border: 1px #6F839E solid;
    color: #6F839E;
    width: 116px;
    height: 35px;
    font-weight: lighter;
    font-family: helvetica;
    border-color: #6F839E;
}

.view-header {
	position: center;
	text-align: center;
	text-size-adjust: 25px;
	background-size: 15px;
	height: 49px;
	background-color:  #DC0600;
}

.go-back-to-create-page {
	float: left;
	padding-top: 10px;
	padding-left: 10px;
	background-size: 15px;
	height: 40px;
}

.label-create-competitions {
	size: 49px;
	padding-top: 7px;
	font-weight: bolder;
	font-size: 26px;
	color: #fdfdfd;
	font-family: helvetica;
}

.competition-containers {
	margin: 5px;
    font-family: helvetica;
    font-weight: normal;
    line-height: 1.2;
    font-size: 18px;
    color: #6F839E;
    width: 174px;
    height: 30px;
    padding: 7px;
}

.table-view-competitions {
	background-color: transparent;
	width: 80%;
	font-size: 16px;
	margin-left: 10%;
}

.table-competition-container {
	position: center;
	text-align: center t;
}

.table-competition-row {
    border-bottom: solid 1px #bbbcbd;
    padding-bottom: 1px;
    padding: 11px;
    height: 64px;
}

.td-col{
	padding-top: 11px;
	padding-bottom: 11px;
	text-align: left;
}

.page-contents {
	background-color: transparent;
	padding-top: 60px;
}
